[2022-08-06 18:32] akshitagupta15june opened #3 "add details in contact form"

[2022-08-06 18:33] akshitagupta15june opened #4 "make changes in the frontend"

[2022-08-07 09:14] narayan954 opened #6 "Add favicon"
Website could use an awesome favicon , currently it doesn't have one.

[2022-08-07 10:29] #4 closed

[2022-08-07 10:29] #3 closed

[2022-08-08 05:26] SushanthReddy-49 commented on #6
I would like to work on this. Can you assign me?
@narayan954

[2022-08-09 13:57] narayan954 commented on #6
nope I can't @SushanthReddy-49

[2022-08-09 14:00] SushanthReddy-49 commented on #6
Ok @narayan954

[2022-09-12 15:48] akshitagupta15june opened #7 "Website logo improvement"
New logo is also welcomed!

[2022-09-12 15:49] akshitagupta15june opened #8 "Database connectivity with the pet owners"

[2022-09-12 15:49] akshitagupta15june opened #9 "Improve contact us form"

[2022-09-12 15:50] akshitagupta15june opened #10 "Add a backend to the details collected by the adopt form"

[2022-09-12 15:50] akshitagupta15june opened #11 "add a backend of the pet organisations data"

[2022-09-12 15:51] akshitagupta15june opened #12 "Improve the UI of the project"

[2022-09-14 09:32] aswin2108 commented on #9
I am really interested in doing this. Could you please assign this to me? I would really love to do this as a part of hacktoberfest.

[2022-09-14 09:40] akshitagupta15june commented on #9
ok but contributions will be counted after 1st oct

[2022-09-14 09:41] akshitagupta15june opened #13 "Collect pet owners details who want to sell their pets"

[2022-09-14 10:39] CodeWAdi commented on #7
Hey there, firstly I want to appreciate you for the great work you are doing and I would be more than happy to help you in this project ,but I do wanna ask one thing will you please  merge this request after 1st of october so that this merge get counted in Hacktoberfest.

I have already started working on the logo making.

[2022-09-14 10:49] akshitagupta15june commented on #7
Hey according to hacktoberfest you have to create pr after 1st oct to be counted so i would recommend you to work on that period only

[2022-09-14 11:18] CodeWAdi commented on #7
Okay  may you please assign me this task i'll create a pr after create a logo

[2022-09-14 11:20] akshitagupta15june commented on #7
Done

[2022-09-14 18:17] Dynnammo opened #14 "Configure main page"
Currently, when we click on the "Home" button of the website hosted here (https://akshitagupta15june.github.io/PetMe/index.html), we simply get a 401 error. We could either remove the "Home" button or redirect simply to "PetMe" since it's the main purpose of the website.

[2022-09-14 18:21] akshitagupta15june commented on #14
cool @Dynnammo would you like to work on this issue?

[2022-09-14 19:35] jmdagenais commented on #14
@akshitagupta15june Can I work on this issue? I would like to participate to Hacktoberfest.

[2022-09-14 21:04] Dynnammo commented on #14
I could handle it 👍 Assign it to me, I'll take a look tomorrow

[2022-09-14 21:04] Dynnammo commented on #14
Go ahead buddy

[2022-09-15 12:33] Karmpatel960 commented on #9
Can you please Assign me this . I want to do it.

[2022-09-15 13:00] akshitagupta15june commented on #9
@Karmpatel960 you can work on diffrent issues as this issue is for @aswin2108

[2022-09-16 04:39] aswin2108 commented on #9
@akshitagupta15june is it necessary to redirect to formspree page after submission or will an alert saying "the form submitted" is fine?

[2022-09-16 04:57] akshitagupta15june commented on #9
hey @aswin2108 actually here formspree which is used is a html form service, we don't have a backend so we used a api service so while submitting the form the service only takes to that page so regarding this issue you can work on styling of the form

[2022-09-16 06:29] aswin2108 commented on #9
@akshitagupta15june okay, I started looking at how submissions should be working and noticed that the form is not getting cleared after submitting that's why I asked. So I don't have to clear this issue and regarding submitting it and should focus only on the look and feel of the form right?

[2022-09-16 06:50] akshitagupta15june commented on #9
yes

[2022-09-23 04:42] RohanKaran commented on #10
Hi @akshitagupta15june , I would like to work on the backend part for this project. But I will require some information regarding what are the specifications, where to host the backend or the db

[2022-09-23 04:49] akshitagupta15june commented on #10
@Susmita-Dey can you guide @RohanKaran

[2022-09-23 04:51] akshitagupta15june opened #15 "Improve the readme"
add some pictures or basically this issue means is to beautify it

[2022-09-23 04:53] Susmita-Dey commented on #10
Yes sure

[2022-09-23 05:02] akshitagupta15june opened #16 "Add pet related news page in website"

[2022-09-23 05:05] akshitagupta15june opened #17 "add twitter tweets related to pets over the home page on the right side"
for example
![image](https://user-images.githubusercontent.com/57909583/191895315-4e98d7e6-b88d-4fa1-8236-9b0fd1e3cb11.png)

[2022-09-23 05:07] akshitagupta15june opened #18 "Improve the header navbar"
Add a better design to header navbar

![image](https://user-images.githubusercontent.com/57909583/191895404-9e84254b-b1bd-4613-9355-3134e3380831.png)

[2022-09-23 05:09] akshitagupta15june opened #19 "Add a footer to the website"
design a cool footer for this website
add the logo of website in the footer
as well as add
icons of the fb, insta
as pages are not created yet but the icons will be accepted an later on the links can be added

[2022-09-23 05:10] akshitagupta15june opened #20 "Add a cool background related to pets in this website"
it should be catchy

[2022-09-23 05:19] akshitagupta15june opened #21 "Add a cool navbar to SOS reports section"
![image](https://user-images.githubusercontent.com/57909583/191896334-4ecd6698-f3ae-487f-92f6-5d307fb4e8a3.png)

[2022-09-23 05:20] akshitagupta15june opened #22 "Navbar improvement in donate animals section"
add a better UI

[2022-09-23 05:23] akshitagupta15june opened #23 "Add a chatbot to the website"
chatbot should answer some questions like if they want to donate then they should be redirected to the donate animal sections, if they want to report then to sos section
if they want to contact the team then the response should to take their gmail and one of the person from team will contact them shortly

Currently a basic chatbot is needed
further improvements can be made

[2022-09-23 08:59] abitsalihu commented on #19
Hey @akshitagupta15june, I would like to help with this issue. :)

[2022-09-23 11:28] Jokerko93 commented on #18
Hello. I would like to help you with this. :) May I?

[2022-09-23 12:42] NisooJadhav commented on #18
Hi Akshita!, I think I can do this.
Can I work on this?
you can check my projects on [projects](https://nisootech.vercel.app/#projects)

[2022-09-23 15:25] akshitagupta15june commented on #19
ok assigning u @abitsalihu

[2022-09-23 15:26] akshitagupta15june commented on #18
assigning you @Jokerko93

[2022-09-23 20:11] krupalitrivedi commented on #15
Hello! I would like to work on this during the hacktoberfest! I have worked on multiple ReadMe files before!

[2022-09-24 00:21] sambhavgupta0705 commented on #22
Hey I would like to work on this issue during hacktoberfest.
Please assign this issue to me

[2022-09-24 01:49] akshitagupta15june commented on #15
Assigning u @krupalitrivedi

[2022-09-24 02:14] sambhavgupta0705 commented on #21
Hi,can you elaborate what things you want in the navbar

[2022-09-24 02:19] sambhavgupta0705 commented on #6
hi, I want to work on this issue ,can you please assign it to me

[2022-09-24 05:29] akshitagupta15june opened #25 "Improve the card design UI bug"
The problem in initial cards
whenever we put a big location name like "Jammu Kashmir" then the Kashmir word goes below so its not allign

also if we write full "Golden Retriever" then it also misaligns

![image](https://user-images.githubusercontent.com/57909583/192081537-f4395822-0601-4a06-b335-4586c85be511.png)

[2022-09-24 05:30] akshitagupta15june commented on #21
@sambhavgupta0705 as u can see initially it doesn't have any navbar so it will be better if you add a navbar containing "home","contact us", "donate" you can take the links from home page index.html

[2022-09-24 05:31] akshitagupta15june commented on #21
would you like to work on this?

[2022-09-24 06:45] sambhavgupta0705 commented on #21
Yes I would like to work on it
Please assign it to me

[2022-09-24 06:53] akshitagupta15june commented on #21
ok

[2022-09-24 09:02] semi-infiknight commented on #17
please assign me this issue

[2022-09-24 09:08] akshitagupta15june commented on #17
Ok

[2022-09-25 06:55] #19 closed

[2022-09-25 06:55] #18 closed

[2022-09-25 13:30] Pratham-19 commented on #6
Hi can I work on it ?

[2022-09-25 13:31] Pratham-19 commented on #25
Hi can I work on this

[2022-09-25 13:32] Pratham-19 commented on #20
Hi can I work on this ?

[2022-09-25 14:01] akshitagupta15june commented on #25
ok assigning you @Pratham-19

[2022-09-25 14:17] Pratham-19 commented on #25
thnx

[2022-09-25 14:37] Pratham-19 commented on #25
Can you assign me to logo  and navbar too

[2022-09-25 14:37] Pratham-19 commented on #25
also where can I dm you ?

[2022-09-25 18:05] akshitagupta15june commented on #25
Join the discord link present in readme

[2022-09-25 18:06] akshitagupta15june commented on #25
Better is work on this issue so as to give chance to other contributors

[2022-09-25 18:09] akshitagupta15june opened #29 "Add an option of animal shelter near me"
Animal shelter option where people can search the nearest shelter

[2022-09-26 14:35] saimaheshtaduri commented on #16
I am interested to work on this issue. can you assign this to me. @akshitagupta15june

[2022-09-26 14:36] saimaheshtaduri commented on #20
I can try it out. if possible assign to me @akshitagupta15june

[2022-09-26 14:37] akshitagupta15june commented on #20
@saimaheshtaduri fine go for it

[2022-09-26 14:38] akshitagupta15june opened #31 "Add a toggle switch for dark view and bright view in website"

[2022-09-26 14:41] akshitagupta15june opened #32 "Bug alert: contact us form UI is no more"
Please add a cool UI for contact us form and replace the action part with the previous form

[2022-09-26 15:17] akshitagupta15june opened #34 "Request all contributors to add your github handles in contributors.md"

[2022-09-26 15:45] Susmita-Dey commented on #32
@akshitagupta15june Image is broken and not visible

[2022-09-26 15:45] akshitagupta15june commented on #32
yes

[2022-09-26 15:50] stephane-r commented on #32
Hey @akshitagupta15june

What is the role of the checkbox ? 😄

[2022-09-26 15:51] akshitagupta15june commented on #32
@stephane-r it was a kind of toggle button in which if we clicked the contact form opened

[2022-09-26 15:53] stephane-r commented on #32
Okay, it's clearer 😸 don't want show always the form ?

[2022-09-26 15:54] akshitagupta15june commented on #32
didn't understand what you are saying?

[2022-09-26 15:57] akshitagupta15june commented on #32
@stephane-r would you like to work on this issue?

[2022-09-26 16:20] stephane-r commented on #32
Yep

[2022-09-26 16:42] akshitagupta15june commented on #32
Fine go for it @stephane-r

[2022-09-26 20:22] Aragorn-64 commented on #31
Hi @akshitagupta15june, I am learning/building my CSS skills and would like to take up the task of building a Dark theme as a part of Hacktoberfest. Can you assign this task to me?

[2022-09-27 01:42] akshitagupta15june commented on #31
Can you work on both parts like the issue is about to toggle between both as currently the theme is dark

[2022-09-27 01:42] akshitagupta15june commented on #31
You can also change the background of website if you want as if it's interfere with the theme change

[2022-09-27 01:42] akshitagupta15june commented on #31
Assigning u

[2022-09-27 02:03] Mustafa-Azad025 commented on #31
Hello Sir,

I have gone through the repository and the given instructions. The issue seems to attract my interest and excites me to work on it. I humbly wait for you to assign the task to me.

[2022-09-27 02:27] akshitagupta15june opened #36 "Add github repo stats in the main readme"
for example
![image](https://user-images.githubusercontent.com/57909583/192417213-d554e0f4-faa5-4841-88ec-9f8e31d26bac.png)

[2022-09-27 02:28] akshitagupta15june opened #37 "Create a new logo for the website"
initial logo
![image](https://user-images.githubusercontent.com/57909583/192417398-91fefa71-070c-4389-988b-66c64eb2f625.png)

[2022-09-27 02:34] akshitagupta15june commented on #31
@Mustafa-Azad025 can you look for other issue because this is already assigned to @Aragorn-64

[2022-09-27 03:16] Harsh97x commented on #37
I would like to work on it, please assign me.

[2022-09-27 03:19] akshitagupta15june commented on #37
fine go for it @Harsh97x
assigning u

[2022-09-27 03:20] akshitagupta15june commented on #37
Please keep the theme in mind while making a logo

[2022-09-27 03:27] Harsh97x commented on #36
I'd like to work on it, please assign me.

[2022-09-27 03:28] akshitagupta15june commented on #36
as u are working on the logo issue so we are letting other contributors to work on it, to give chance to everyone

[2022-09-27 03:29] Harsh97x commented on #37
ok 👍🏻

[2022-09-27 03:37] Harsh97x commented on #36
That's fine with me. It's my first time participating. So I got a little too eager :)

[2022-09-27 05:35] Pranjalmishra30 commented on #36
Hi I would like to work on this issue, if its not assigned

[2022-09-27 05:36] akshitagupta15june commented on #36
Ok @Pranjalmishra30 assigning u

[2022-09-27 05:45] akshitagupta15june opened #38 "Add a section "How to get started with open source?" in the readme"
take help from face-x readme https://github.com/akshitagupta15june/Face-X#readme
![image](https://user-images.githubusercontent.com/57909583/192442620-cbae0822-03e0-4351-8854-f9373997fb90.png)

[2022-09-27 05:47] akshitagupta15june opened #39 "Improve the UI of the project"
Let me know to create the discussion of this issue

[2022-09-27 05:48] akshitagupta15june opened #40 "add a backend of the pet organisations data"

[2022-09-27 05:51] akshitagupta15june opened #41 "Add a backend to donate animal section"
![image](https://user-images.githubusercontent.com/57909583/192443584-ecc3879d-309d-4fb7-9f50-542735bf2cf9.png)

[2022-09-27 05:51] akshitagupta15june commented on #41
Creating this issue as a discussion

[2022-09-27 05:55] ABHIGYAN-MOHANTA commented on #38
Hey! Can I work on this? Since I myself am a beginner, I think I would be great for this. I just finished up my high school. I would be very grateful if you can assign it to me, I will make the pr on october 1st. Thanks! Also congratulations on mlh fellowship.

[2022-09-27 05:57] akshitagupta15june commented on #38
cool @ABHIGYAN-MOHANTA go for it!

[2022-09-27 05:59] ABHIGYAN-MOHANTA commented on #38
Thank you

[2022-09-27 06:03] akshitagupta15june opened #45 "Add the current logo of petme website in the readme"
![image](https://user-images.githubusercontent.com/57909583/192445422-b195ae47-a290-4cee-a323-c76191aa0fb3.png)

[2022-09-27 06:06] akshitagupta15june opened #46 "improve the spacing between the cards in home page"
![image](https://user-images.githubusercontent.com/57909583/192445883-9611a5d5-c848-44bb-8282-127371d5f2ba.png)

[2022-09-27 06:44] Mustafa-Azad025 commented on #46
hey , Please Assign This Task to me.

[2022-09-27 06:49] BinniesLite commented on #45
Hi @akshitagupta15june, I would love to help with this!

[2022-09-27 08:45] Arghya-Banerjee commented on #39
Hello @akshitagupta15june, I can try to make this webpage UI better. Can you kindly assign me this Issue?

[2022-09-27 08:52] akshitagupta15june commented on #39
Ok assigning u

[2022-09-27 08:54] akshitagupta15june commented on #21
As you are already assigned one issue so i am removing you from this one to give other contributors this issue

[2022-09-27 09:39] akshitagupta15june commented on #21
ok fine @sambhavgupta0705 i am assigning you this @Satyakoidala would u like to work on issue https://github.com/akshitagupta15june/PetMe/issues/22

[2022-09-27 09:40] sambhavgupta0705 commented on #21
Thanks!!

[2022-09-27 10:17] Satyakoidala commented on #22
@akshitagupta15june ,

What kind of UI improvements are expected? Also, can I add my own custom CSS file(s) if necessary?

I could observe so much empty space beside the logo-and-adopt-today context in the header. Can the navbar section be moved there?

[2022-09-27 10:35] DugarRishab commented on #46
hey, can I take this up?

[2022-09-27 10:50] akshitagupta15june commented on #46
according to fcfs assigning this issue to @Mustafa-Azad025

@DugarRishab you can look at other issues

[2022-09-27 10:55] DugarRishab commented on #40
Hey, could you please add some description to this issue for more clarity? Alternatively, just add more comments to provide more details about the schematics of the backend you require

[2022-09-27 11:15] tanisha-tech360 commented on #41
Can you please elaborate what do you want  us to do in this section?

[2022-09-27 13:06] Aragorn-64 commented on #31
Okay, I think I understand. I need to build a Light theme for the site and also create a toggler for switching between them, right?

[2022-09-27 14:01] akshitagupta15june commented on #31
Yes

[2022-09-27 14:12] Mustafa-Azad025 commented on #46
Will This Contribution Adds In Hacktoberfest 2022

[2022-09-27 14:16] akshitagupta15june commented on #46
If you give the pr after 1st oct then it will count

[2022-09-27 15:22] akshitagupta15june commented on #40
@muditchoudhary can u guide him

[2022-09-27 16:47] brandonmcconnell commented on #29
@akshitagupta15june Will this page need to use Google Maps API to search for the nearest location by comparing the address to the user's current location?

[2022-09-27 16:52] akshitagupta15june commented on #29
yes!

[2022-09-27 20:20] thisisharsh7 commented on #23
Ma'am, I am interested in working on this issue as part of Hacktoberfest. Could you please assign it to me?

[2022-09-28 04:04] muditchoudhary commented on #40
Hello @DugarRishab thanks for showing interest in contributing.

I thought  for the backend, particularly for storing data we can have a database with tables as follows:

1. Pet's data user's data -> We need a logic so that when someone fills the donate animal form we will store the pet information [name, color, breed] in a pet table and the user info in another table.

2. Then we will create the

[2022-09-28 06:06] PritamSarbajna opened #51 "Footer section should be interactive"
## Footer should be interactive when hovering

![Screenshot (219)](https://user-images.githubusercontent.com/90236635/192700235-eefe8ea9-abdd-4b75-a23b-ff072f23cfd1.png)

**I can fix this issue if assigned [For [HACKTOBERFEST '22]**

[2022-09-28 06:27] akshitagupta15june commented on #51
Cool you can work on it

[2022-09-28 06:27] akshitagupta15june commented on #23
You can work on it

[2022-09-28 06:31] PritamSarbajna commented on #51
Hey @akshitagupta15june is this fine if I make a PR after hacktoberfest starts ?

[2022-09-28 06:44] akshitagupta15june commented on #51
Yes fine

[2022-09-28 14:30] VidishaAG commented on #20
Can I be assigned?

[2022-09-28 14:33] kanishk6103 commented on #37
Hey I tried making something after i saw this issue, I'll attach a screeenshot of a quick ideation of the logo I did

![ideation](https://user-images.githubusercontent.com/72643990/192806991-f7e1eb3e-2c9c-449f-b93a-9889fec3f5ef.png)

[2022-09-28 14:38] akshitagupta15june commented on #37
@Susmita-Dey and @muditchoudhary can you review the above logo created by @kanishk6103 for our website please request changes if you want to.

[2022-09-28 14:39] kanishk6103 commented on #37
This is just an ideation, if you like the ideation i will go ahead with it, Thanks :)

[2022-09-28 14:45] Susmita-Dey commented on #37
@akshitagupta15june @kanishk6103 Looks good. But the current logo is also good

[2022-09-28 14:46] akshitagupta15june commented on #37
@Susmita-Dey yes it is but actually for the website its looks kind of distorted so thought of creating a new

[2022-09-28 14:48] akshitagupta15june commented on #37
@kanishk6103 then you can go for it and try to add a colourful logo that fits website

[2022-09-28 15:12] Mustafa-Azad025 commented on #46
Ok So I Will Raise PR Again By Adding Screenshot Of The Changes .

[2022-09-28 15:51] Harsh97x commented on #37
Hey, @akshitagupta15june want some feedback on the logo, How is it?

![logo](https://user-images.githubusercontent.com/71343199/192825983-100f7319-7916-44fe-a0d1-271ddf29dfed.jpg)

[2022-09-28 16:09] akshitagupta15june commented on #37
umm @Harsh97x it doesn't define the theme your previous one was good but try to do one thing in that instead of writing petme below write in between of picture and remove the logo part from where it is writting
i hope you can understand what i am saying

[2022-09-28 16:13] akshitagupta15june commented on #37
better is to add a cat dog rabbit and write petme and then beautify accordingly
one example i am adding
![image](https://user-images.githubusercontent.com/57909583/192831579-15bb3e40-17f1-4429-9782-3264135be062.png)

[2022-09-28 16:47] Harsh97x commented on #37
![Petmelogo2](https://user-images.githubusercontent.com/71343199/192839735-00133fad-593d-4348-b2d7-dd53a3fb0dd8.png)

I think this image conveys the theme better. What are your thoughts on it?

I don't get this part could you please elaborate further?

[2022-09-28 16:53] akshitagupta15june commented on #37
Oh this picture looks very cool can u add rabbit also in it and write petme in box

Pet me should be visible clearly in front of box

[2022-09-28 16:55] Susmita-Dey commented on #37
@Harsh97x The last one is cute.

[2022-09-28 17:04] Harsh97x commented on #37
Ok so how about this, it has all three of them and there is ample space to put the text in between the image.

![dogcatrabbit-withaheart-logo](https://user-images.githubusercontent.com/71343199/192844929-2c2b3c1b-fe61-49bb-a22a-d2f0aa35ed6e.png)

[2022-09-28 17:36] DugarRishab commented on #40
@muditchoudhary hello,
I have noticed that you have used "table" a lot. Do you want me to use a SQL database? Because I use MongoDB

[2022-09-28 17:54] akshitagupta15june commented on #37
That's so cute
Just increase font size a little and u are good to go
Try to give a pr after 1st October so it will be counted in hacktoberfest

[2022-09-28 18:39] Susmita-Dey commented on #37
I agree with you.

[2022-09-29 04:42] akshitagupta15june opened #52 "Add a about us section in website"

[2022-09-29 04:43] akshitagupta15june opened #53 "Add a sos button on the website"
This button when clicked will redirect to sos page

[2022-09-29 04:44] akshitagupta15june opened #54 "Add a contributors section in the bottom of website"

[2022-09-29 04:45] akshitagupta15june opened #55 "Add some resources related to api that can give nearest info to pet care center near us"

[2022-09-29 04:45] akshitagupta15june commented on #55
This is a discussion issue only so add resources in issue itself

[2022-09-29 05:16] laxmanbalaraman commented on #54
Hey @akshitagupta15june ! I would like to work on this issue. Can you assign this to me?

[2022-09-29 05:46] laxmanbalaraman commented on #54
@akshitagupta15june, I did some research and this could be easily be implemented using github's [API](https://docs.github.com/en/rest/repos/repos#list-repository-contributors). Would love to work on this one as a part of my hacktoberfest 😄 !

[2022-09-29 05:55] akshitagupta15june commented on #54
@laxmanbalaraman awesome go for it 👍

[2022-09-29 06:16] muditchoudhary commented on #40
No we can use mongo too. Whatever you are comfortable with.

This is basic schema of the pets details table ( I think mongo db don't have columns)

![IMG_20220929_114446_241~2.jpg](https://user-images.githubusercontent.com/74391865/192953417-b5838c5d-3278-45a2-a544-7868b5b99b21.jpg)

[2022-09-29 06:26] muditchoudhary commented on #37
Wow it's good. I prefer this. Just add some colors to it.

Btw did you draw it by yourself?

[2022-09-29 06:57] kanishk6103 commented on #37
I didn't draw it all by myself, i did trace it and drew some of the face expressions and details on the dog by myself

[2022-09-29 07:01] akshitagupta15june commented on #37
i prefer this one
![image](https://user-images.githubusercontent.com/57909583/192962018-222a57c1-b07b-41b7-97a9-fda214acc767.png)

[2022-09-29 07:01] akshitagupta15june commented on #37
just increase the font size a little

[2022-09-29 07:50] Susmita-Dey commented on #37
Me too

[2022-09-29 08:12] muditchoudhary commented on #37
Okay that's good too. We will add that then

[2022-09-29 08:55] sambhavgupta0705 commented on #52
Hey ,I can work on this issue,please assign it to me

[2022-09-29 09:00] akshitagupta15june commented on #52
As you are already working on an issue so let's other work on it

[2022-09-29 09:27] Harsh97x commented on #37
I increased the font.

![logo](https://user-images.githubusercontent.com/71343199/192994259-8d8e3d6d-88a5-4ce3-8802-4d39ad95cee0.jpg)

[2022-09-29 10:25] yadavsairaj commented on #53
Hey can i work on this issue?

[2022-09-29 10:27] yadavsairaj commented on #52
Hey can i work on this issue?

[2022-09-29 10:36] akshitagupta15june commented on #53
Fine go for it

[2022-09-29 11:07] omk-coder commented on #52
Hey can I work on this issue.??

[2022-09-29 11:26] avezqureshi14 commented on #52
hey please @akshitagupta15june mam can you assign me this issue

[2022-09-29 11:46] akshitagupta15june commented on #52
Assigning to @omk-coder

[2022-09-29 12:09] Anuran12 commented on #54
hey @akshitagupta15june can you please assign it to me. I already did this type of contribution so it's easy for me

Thanks : )

[2022-09-29 13:05] DugarRishab commented on #40
@muditchoudhary
okay then. I will get started. Could you please assign this issue to me? And as I can see #41 is also regarding a backend, so I will be gald to do that too. Could you assign both of them to me?

[2022-09-29 13:26] laxmanbalaraman commented on #54
Hey @Anuran12, I am assigned and already working on it for my hacktoberfest. Request you to kindly find some other issue. Thanks.

[2022-09-29 13:44] adityabisht02 commented on #41
Are you looking for a SQL database or a no SQL one? I can work on this but ill need the deployed database creds.

[2022-09-29 13:45] adityabisht02 commented on #41
Or I can simply implement this for a local DB and you can add the creds later.

[2022-09-29 13:45] muditchoudhary commented on #40
Assigned to you @DugarRishab

I'll assign #41 to you

[2022-09-29 14:00] omk-coder commented on #52
thanks.

[2022-09-29 14:01] Anuran12 commented on #54
Okay : )
I am also participating hacktoberfest...
Okay if you need any help in this you can ask me

[2022-09-29 15:48] akshitagupta15june opened #57 "Add video of Petme website in the main readme"
here is the video link https://youtu.be/U1EQjtT-G8E

[2022-09-29 15:53] akshitagupta15june opened #58 "Add a support us section in the navbar -->volunteer.html"
on hovering support us a drop down will be there and "Become a Volunteer" option will be there and on clicking volunteer now that page will take to a volunteer.html

currently leave that volunteer.html page as blank

[2022-09-29 15:54] Anuran12 commented on #58
Hi @akshitagupta15june can you please assign it to me?

[2022-09-29 15:54] akshitagupta15june commented on #58
go for it @Anuran12

[2022-09-29 15:58] akshitagupta15june opened #59 "Add a blog section in navbar-->blog.html"
on clicking blog it will take to a new blog.html

currently leave that page as blank

will decide further

[2022-09-29 16:14] akshitagupta15june opened #60 "Hacktoberfest celebration: Blogs needed for the website (Special Prize)"
Write a blog on anything related to pet or stray animals:

for example if you have a pet in your home you can write how you feel as a pet owner, if you have helped any stray animals what was your experience? these are just the example any blog related to stray animals and pets is acceptable.

You can choose any platform to write blog but we will be needing your content here for our section blogs.

[2022-09-29 16:17] akshitagupta15june commented on #60
After writing the blogs you can paste your links here!

[2022-09-29 16:23] Arghya-Banerjee commented on #59
I can do this for you, please assign me this issue.

[2022-09-29 16:24] shivamvishwakarm commented on #59
Hey akshitgupta i did it. I send you a PR

[2022-09-29 16:25] akshitagupta15june commented on #59
@Arghya-Banerjee u are already working on an issue so lets give others a chance

[2022-09-29 16:37] akshitagupta15june opened #63 "Add a "Subscribe to newsletter" option in the footer of website"
For example

![image](https://user-images.githubusercontent.com/57909583/193088839-0ec28b8c-1fc1-4aac-b20e-2b798622f778.png)

[2022-09-29 17:00] Ahnaf-codes commented on #63
do you want it to be a pop up or just a normal card?

[2022-09-29 17:01] akshitagupta15june commented on #63
in the bottom of site better is to keep in footer

[2022-09-29 17:02] akshitagupta15june commented on #63
would u like to work in this?

[2022-09-29 17:10] Ahnaf-codes commented on #63
yes! i can start tommorow

[2022-09-29 17:11] omthakare16 commented on #63
I would like to work on it

[2022-09-29 17:24] Ahnaf-codes commented on #63
please assign me

[2022-09-29 17:43] tanitoluwam commented on #63
I would love to work on this....can i go ahead?

[2022-09-29 18:02] Eyesnatcher-coder commented on #63
@akshitagupta15june can you please assign me the task?

[2022-09-29 18:19] Eyesnatcher-coder commented on #57
Hi👋 @akshitagupta15june , could you please elaborate me the issue....

[2022-09-29 18:53] omthakare16 commented on #57
Can I work on this issue, can you assign me ?

[2022-09-30 02:00] akshitagupta15june commented on #57
Would you like to work on this?

[2022-09-30 03:13] omthakare16 commented on #57
Yes , I would like to work !

[2022-09-30 03:15] akshitagupta15june commented on #57
ok @omthakare16

[2022-09-30 03:16] omthakare16 commented on #57
Can I embed the youtube video in readme or just provide the link ?

[2022-09-30 03:20] akshitagupta15june commented on #57
you can embed it

[2022-09-30 04:08] Anuran12 commented on #60
Hey @akshitagupta15june I would like to write a blog about this. But where should I write that ?

[2022-09-30 04:10] sambhavgupta0705 commented on #52
ok no issues

[2022-09-30 04:29] akshitagupta15june commented on #60
Any platform i would suggest medium or if you want you can write in Google docs and mail the pdf to akshitagupta15june@gmail.com

[2022-09-30 05:57] narayan954 commented on #13
@akshitagupta15june I can work on this issue , please assign it to me :)

We have to create a simple form similar to the adopt form right?

[2022-09-30 06:33] akshitagupta15june commented on #13
No it's already created we have make a backend connectivity @muditchoudhary can you please help him whenever free

[2022-09-30 06:45] muditchoudhary commented on #13
Hello, @narayan954 Thanks for showing interest in contributing to petMe.
So, do you know know how to make a database? For this, we need a database to store the owner's details who is donating his/her pet.

[2022-09-30 07:09] narayan954 commented on #13
database as in MySQL or MongoDB? I can give that a try. Do I have to create my own dB or it'll be provided ?

[2022-09-30 07:18] muditchoudhary commented on #13
You need to use mongo because someone else is also working on the backend part and he is using mongo.

Yes you need to create a database I will give you basic schema like what details we will store etc.

[2022-09-30 07:34] laxmanbalaraman commented on #54
@akshitagupta15june, I have done the contributors section. Contributors get dynamically added as they contribute to the repo. Also, it would look responsive in the mobile version as well. Clicking on any of the contributor's DP will take them to their profile. Hovering over DP will show them their name.

Tell me if everything looks fine.

![contributors-desktop](https://user-images.githubuserconte

[2022-09-30 07:39] narayan954 commented on #13
oh okkk, is there any communication channel?

[2022-09-30 07:41] muditchoudhary commented on #13
@narayan954 We can communicate here also. And there is a discord too you can find it on the readme

[2022-09-30 07:54] akshitagupta15june commented on #54
That is so great👍👍
Well done
Try to give pr tomorrow

[2022-09-30 08:03] akshitagupta15june opened #65 "Add a mission in the header"
"saving lives, saving animals"
This is the mission of this website so i want this mission to displayed in header but without disturbing the UI

[2022-09-30 08:18] laxmanbalaraman commented on #54
Thanks! 😄
Sure, I will!

[2022-09-30 11:05] Stk-79 commented on #60
I would like to take up on this . Is there a deadline or something to send blog?

[2022-09-30 11:39] akshitagupta15june commented on #60
Deadline 30 October 2022

[2022-09-30 11:57] Stk-79 commented on #60
OK.

[2022-09-30 14:54] SammriddhGupta commented on #65
I would like to work on this issue!

[2022-09-30 16:49] Ahnaf-codes commented on #63
@akshitagupta15june should it be in the footer or above it in place of contact us?

[2022-09-30 16:51] akshitagupta15june commented on #63
It should be in footer left side besides the logo

[2022-09-30 17:11] #38 closed

[2022-09-30 17:46] Ahnaf-codes commented on #63
Hey its done I've sent the pr please review it

[2022-09-30 18:03] #39 closed

[2022-09-30 18:43] #63 closed

[2022-09-30 19:07] aryaupadhyay24 commented on #16
I,m currently learning api fetching, if you assign this issue to me , I can learn beter with resolving your issue

[2022-09-30 19:32] Aragorn-64 commented on #31
@akshitagupta15june
This is the dark theme
![image](https://user-images.githubusercontent.com/72992475/193342794-56902281-27aa-42aa-9861-9047a5accd2f.png)
and this is the light theme
![image](https://user-images.githubusercontent.com/72992475/193342838-d96b543a-a54c-41af-b9c8-8dbf1681d49f.png)

This switches based on the Toggle in the navbar

I implemented this using JS and it can be used for any

[2022-09-30 23:50] CodeWAdi commented on #6
I would like to work on this issue,can you please assign me

[2022-10-01 02:44] akshitagupta15june commented on #6
This issue is completed

[2022-10-01 02:44] #6 closed

[2022-10-01 02:45] akshitagupta15june commented on #31
It's good but the eepo has been updated few hours before with new UI so can you fetch and merge for updating with current UI

[2022-10-01 03:03] akshitagupta15june opened #71 "Bug Alert: Site isn't responsive in mobile phone"
![image](https://user-images.githubusercontent.com/57909583/193384008-0062170e-553b-4b88-adc3-485edc39cb61.png)
![image](https://user-images.githubusercontent.com/57909583/193384012-9368cc2f-fefe-4169-b79d-a8e1b2db8ea4.png)

[2022-10-01 03:06] akshitagupta15june opened #72 "Site isn't responsive in the desktop view"
![image](https://user-images.githubusercontent.com/57909583/193384159-a389e2bf-5fa0-45ac-ba7d-1b522fe9d02f.png)

[2022-10-01 04:13] codegoggins commented on #72
@akshitagupta15june  Please assign me this , I would love to work on this problem.

[2022-10-01 04:20] akshitagupta15june commented on #72
Go for it

[2022-10-01 04:25] Ahnaf-codes commented on #71
hey can i work on this?

[2022-10-01 04:34] Aragorn-64 commented on #31
Sure

[2022-10-01 05:10] akshitagupta15june commented on #71
Yes you can

[2022-10-01 05:22] zugzwang03 commented on #59
Can I work on this under Hacktoberfest'22?

[2022-10-01 05:23] akshitagupta15june commented on #59
Yes @zugzwang03

[2022-10-01 05:39] Yh010 commented on #59
@akshitagupta15june I have sent a PR, pls review it

[2022-10-01 05:43] #9 closed

[2022-10-01 05:44] akshitagupta15june commented on #59
This issue is assigned to @zugzwang03

[2022-10-01 05:44] ujwxl23 commented on #65
I would like to work on this issue!!

[2022-10-01 05:47] akshitagupta15june commented on #65
assigning to @SammriddhGupta

[2022-10-01 07:48] Ahnaf-codes commented on #71
What breakpoint should i use?

[2022-10-01 07:52] Ahnaf-codes commented on #71
Hey it seems like i would need to rework Almost the whole desktop code since tailwind only supports min width media queries. Would that be a problem?

[2022-10-01 07:58] akshitagupta15june commented on #71
Yes please work on it

[2022-10-01 07:59] omthakare16 commented on #57
Hey sorry for inconvenience ,  I have tried but it is not possible to embed the youtube video itself , So can I download and embed the video or should I provide youtube link ! ?

[2022-10-01 08:00] Ahnaf-codes commented on #71
so i will be using basic css if you dont mind

[2022-10-01 08:01] yogeshrajput335 opened #79 "Search or filter functionality on home page"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-10-01 08:02] yogeshrajput335 opened #80 "Register Page for new user"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-10-01 08:03] yogeshrajput335 opened #81 "Login page for getting details for owner contact details"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-10-01 08:05] yogeshrajput335 opened #82 "Show Pet category list with count in the home page"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-10-01 08:06] yogeshrajput335 opened #83 "Set Location on open app for showing filter pets"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-10-01 08:57] Ahnaf-codes commented on #71
Is this good for the pet cards?
![Screenshot 2022-10-01 at 14-55-09 PetMe](https://user-images.githubusercontent.com/102795582/193401608-425dcf17-36be-4a48-9a28-3ed16e951a73.png)

[2022-10-01 09:23] Ahnaf-codes commented on #71
Is this Good?
![Screenshot 2022-10-01 at 15-01-33 PetMe](https://user-images.githubusercontent.com/102795582/193401859-4136f7e7-b30d-401b-bbc4-1e467bce0fdd.png)

[2022-10-01 09:27] akshitagupta15june commented on #71
Yes it is

[2022-10-01 09:34] yadavsairaj opened #85 "Adding a sticky navbar"
Adding a sticky navbar so that it would be easy to navigate.
![image](https://user-images.githubusercontent.com/67747523/193402953-6e168f1e-7088-4d98-870c-8c18816d6dc5.png)

[2022-10-01 09:34] yadavsairaj commented on #85
Can you assign me with this issue?

[2022-10-01 09:51] sambhavgupta0705 commented on #21
Hi Akshita I have made the changes in navbar ,please let me know if you want any other change

[2022-10-01 10:04] Mustafa-Azad025 commented on #46
Hey @akshitagupta15june ,
I have raised PR please merge it.

[2022-10-01 11:07] Ahnaf-codes commented on #20
@akshitagupta15june close this issue

[2022-10-01 11:23] Aragorn-64 commented on #31
@akshitagupta15june I feel that the CSS coding style used by the new contributions has changed too much ( and I feel that custom classes with specific styles go against the purpose of Tailwind .. which is about using Inline styles). My submission was with respect to the previous coding style. If you are fine with it, id like to submit my toggle theme and js code for the toggle (which is written so

[2022-10-01 12:02] zugzwang03 opened #92 "Design the scrollbar"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I want to customize the scrollbar of the website, to align it with the overall designing.
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
I want to customize the scrollbar of the website, to

[2022-10-01 12:09] Aragorn-64 commented on #31
Okay @akshitagupta15june I am working on a revised method that will toggle to a dark color scheme on press and will revert to the current style (light) while taking current changes.

[2022-10-01 15:02] #57 closed

[2022-10-01 15:04] #37 closed

[2022-10-01 15:07] #36 closed

[2022-10-01 15:08] #21 closed

[2022-10-01 15:11] #45 closed

[2022-10-01 15:46] SonakshiChauhan commented on #15
Hey I would like to work on this issue during the hacktober fest.I'm a newbie in opensource but I love beautifying things and adding a creative touch.

[2022-10-01 16:13] akshitagupta15june commented on #31
yes! please take ur time @Aragorn-64

[2022-10-01 19:33] jmdagenais commented on #14
It looks like it have already been fixed.

[2022-10-01 19:44] krupalitrivedi commented on #60
Hi! I can write a blog :)

[2022-10-01 20:27] krupalitrivedi commented on #15
Also the hacktoberfest website shows that the repository is not participating in hacktoberfest. Please see that you add relevant information to the repository for it to be considered

[2022-10-02 01:37] akshitagupta15june commented on #60
Yes go for it
This issue is for everyone

[2022-10-02 01:41] akshitagupta15june commented on #15
Where it's was written @krupalitrivedi
There no issue by hacktoberfest committee that this website is not participating and it has all necessary details

[2022-10-02 01:44] akshitagupta15june opened #99 "Navbar is not visible in mobile mode"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-10-02 02:09] mritul commented on #99
Hey ! Can i work on this issue ?

[2022-10-02 02:55] Mustafa-Azad025 commented on #46
hey @akshitagupta15june ,
please approved this as a quality contribution for hacktober fest.

[2022-10-02 02:57] akshitagupta15june commented on #46
I already did merge it

[2022-10-02 03:12] Mustafa-Azad025 commented on #46
Ok but i haven't receive any message from hacktoberfest as approved.
For earlier contribution I received message that why i am asking

[2022-10-02 03:15] krupalitrivedi commented on #15
![Screenshot_20221002-084434__01.jpg](https://user-images.githubusercontent.com/99717469/193436330-98b70ddf-30c7-474b-9fde-51d155bd9cca.jpg)

[2022-10-02 03:20] akshitagupta15june commented on #15
I have no idea how is it because in some of the contributors it is showing accepted

[2022-10-02 03:21] akshitagupta15june commented on #46
You will not receive notifications on Every contribution
Only in first and fourth pr

[2022-10-02 03:50] Mustafa-Azad025 commented on #46
Oh ok 😊

[2022-10-02 04:07] DugarRishab commented on #40
Hey, @muditchoudhary can you please tell me in which directory should I put the code of API?

[2022-10-02 04:15] muditchoudhary commented on #40
Currently, the project structure is not structured properly. So, I think we should make a new folder in the root and add that there. Name could be backend or anything you prefer.

[2022-10-02 04:58] #99 closed

[2022-10-02 06:00] #71 closed

[2022-10-02 06:04] krupalitrivedi commented on #15
Maybe when you put the hacktoberfest-accepted label, it will go away - after you merge the PR

[2022-10-02 09:41] sambhavgupta0705 commented on #22
Hey ,can I work on this issue please

[2022-10-02 12:10] Ahnaf-codes commented on #85
@akshitagupta15june can i do this?

[2022-10-02 12:23] Ahnaf-codes opened #103 "Contact us and toggle theme button need to be improved"
Currently the Contact us and toggle theme button looks like they are disabled. It would be better to make them brighter and more vibrant.
![Screenshot 2022-10-02 at 18-14-58 PetMe](https://user-images.githubusercontent.com/102795582/193453554-d87f7719-1c8a-4006-87d2-393211fc7a0a.png)

[2022-10-02 12:23] Ahnaf-codes commented on #103
@akshitagupta15june Im willing to work on this

[2022-10-02 12:53] SammriddhGupta commented on #65
<img width="960" alt="PetMe_Mission_v1" src="https://user-images.githubusercontent.com/72302725/193454945-0b16e9ad-e348-46a1-aefc-880a9a9e73bd.PNG">
Does this look anything like what you had in mind for the mission?

[2022-10-02 12:56] akshitagupta15june commented on #65
loooks good

[2022-10-02 12:56] akshitagupta15june commented on #65
make a pr

[2022-10-02 13:00] SammriddhGupta commented on #65
Alright!

[2022-10-02 13:34] akshitagupta15june commented on #103
yes work on it

[2022-10-02 13:34] akshitagupta15june commented on #92
what changes will this make?

[2022-10-02 13:35] akshitagupta15june commented on #85
Hi this is not needed for the website

[2022-10-02 13:35] #85 closed

[2022-10-02 13:35] akshitagupta15june commented on #83
assigning you

[2022-10-02 13:36] akshitagupta15june commented on #82
This is not needed now

[2022-10-02 13:36] #82 closed

[2022-10-02 13:36] akshitagupta15june commented on #81
this is not needed now

[2022-10-02 13:36] #81 closed

[2022-10-02 13:36] akshitagupta15june commented on #80
this is not needed now

[2022-10-02 13:36] #80 closed

[2022-10-02 13:36] akshitagupta15june commented on #79
this is not needed now

[2022-10-02 13:36] #79 closed

[2022-10-02 13:36] #59 closed

[2022-10-02 13:37] #54 closed

[2022-10-02 13:37] #53 closed

[2022-10-02 13:37] #52 closed

[2022-10-02 13:37] #51 closed

[2022-10-02 13:37] #46 closed

[2022-10-02 13:38] #31 closed

[2022-10-02 13:38] #32 closed

[2022-10-02 13:38] #25 closed

[2022-10-02 13:38] #15 closed

[2022-10-02 13:39] akshitagupta15june opened #105 "Improve the main readme"
beautify the current readme

[2022-10-02 13:45] d3vsuthar opened #106 "Improvements to the footer section"
![petme-footer-before](https://user-images.githubusercontent.com/46597688/193457319-e5edb1bf-cbd2-4431-8bf0-aaa2f70c8e5b.jpg)

Found the following UX and design issues
- Responsiveness on md screens (should be 2 columns instead of 3)
- Logo is squished
- Email section is too cluttered
- Color scheme looks out of place with the rest of the section (why use blue here?)

[2022-10-02 13:48] Santhusha-bit commented on #105
Can I work on this

[2022-10-02 13:50] zugzwang03 commented on #92
It will customize the scrollbar, or rather beautify it. Like now, the website has a scrollbar of white and grey combination, I can add a scrollbar of brownish colour to keep it in alignment with the whole layout of the website.

[2022-10-02 13:55] DugarRishab commented on #40
@muditchoudhary I have a few questions regarding the model
1. Will there be only one model called "PET"?
2. In the case of images, how are you planning to store these images?

*There are only these for now. I will ask rest when they come up*

[2022-10-02 14:01] akshitagupta15june commented on #92
Fine go for it

[2022-10-02 14:01] muditchoudhary commented on #40
1. No maybe we will have one more model where we will store the owner [person who is donating the pet] info. In the pet we only info related to pet.
2. For images I was thinking to store the image path in string format. Like we have a folder where we will save all image and we store the path of a IMG in our table.

Hope it makes sense.

Sure

[2022-10-02 14:11] DugarRishab commented on #40
You cannot store images uploaded by a person in a folder on GitHub. When a server is running, any files will only be stored in their memory for a short while, after which they will be cleared out. For storing files permanently you need cloud storage.

[2022-10-02 14:18] minhaj-313 commented on #92
i want to add Scroll bar could you please Assign to me

[2022-10-02 14:22] muditchoudhary commented on #40
@DugarRishab okay,  I don't have much knowledge of backend now so It may be hard for me to discuss and I will probably make mistakes but I'll try.

 I think either we can use cloud storage option if you know how to use it. But one issue maybe most of are paid or we just use some pre stored default images

For now I prefer the second option of using some default images.

What do you prefer?

[2022-10-02 14:35] DugarRishab commented on #40
There is one cloud storage that gives a free service - Cloudinary. But it gives a very limited service. And it will also require more work on the front end and the back end. I can do the backend part, but your front-end is written in vanilla JS and I don't know how to implement Cloudinary in it.
I suggest that I skip this part for now, and when the API is up and running, another PR could be made f

[2022-10-02 14:41] krupalitrivedi commented on #105
Hi Akshita! I worked on this issue previously :) and made a mistake while making a pull request, Can you check again and then tell the other person to make changes if needed, otherwise both works will go in vein :) thank you!

[2022-10-02 14:42] krupalitrivedi commented on #15
Hi Akshita! I finished working on this, sorry for multiple comments :) I made a mistake while sending a PR and apologizing for the same :) I hope you can take a lot at the changes I have made

[2022-10-02 14:51] muditchoudhary commented on #40
Okay that's good.

[2022-10-02 14:51] akshitagupta15june commented on #105
Closing this issue

[2022-10-02 14:51] #105 closed

[2022-10-02 14:51] akshitagupta15june commented on #106
Go for it

[2022-10-02 15:15] DugarRishab commented on #40
@muditchoudhary I have opened a PR. Please review it.

[2022-10-02 15:39] chiragkhatri19 commented on #105
Hello Akshita, Can I add some custom made banner or something in the readme file ? and if yes can you create a issue for the same, I'll happily contribute

[2022-10-02 16:33] agarwaldevesh374 commented on #60
Hi, please assign me this issue.

[2022-10-02 16:36] akshitagupta15june commented on #60
Anyone can work on it

[2022-10-02 16:39] omk-coder commented on #60
recently I feel like writing a blog on something but you just gave an  topic.  Thanks for this issue.

[2022-10-02 16:46] akshitagupta15june commented on #60
Thanks waiting for your blog

[2022-10-02 17:04] sshiwangi opened #112 "Design blog.html page"
**Is your feature request related to a problem? Please describe.**
The blog.html page is empty. It will be good to have a blog page where users can share their experience with the organization.

**Describe the solution you'd like**
I would like to design blog.html page following the color theme of the website.

**Additional context**
Add any other context or screenshots about the feature request h

[2022-10-02 17:05] sshiwangi commented on #112
@akshitagupta15june please assign me this issue under hacktoberfest.

[2022-10-02 17:09] gpt-anurag opened #113 "Github logo on Contributors Section"
![image](https://user-images.githubusercontent.com/95965664/193466866-9eb42717-143b-46d9-9e18-06fcb0c9b42f.png)
There's no GitHub logo.

[2022-10-02 17:14] akshitagupta15june commented on #112
Currently we don't have any blogs and page is already created better is we should have atleast 2-3 blogs so that we can create this page
You can see this issue #60

[2022-10-02 17:14] #112 closed

[2022-10-02 17:14] akshitagupta15june commented on #113
Please add it

[2022-10-02 17:17] akshitagupta15june opened #114 "Add contributors handles in contributors.md"

[2022-10-02 17:19] akshitagupta15june opened #115 "Add a toggle button instead of toggle theme text in header"
The button should have a like a sun or moon picture to toggle between bright and dark view

[2022-10-02 17:23] akshitagupta15june commented on #60
All the blogs will be published in the website

[2022-10-02 17:25] akshitagupta15june opened #117 "Change the logo of cat dog rabbit to white as they are not visible in current UI"

[2022-10-02 17:26] coderSuren commented on #115
@akshitagupta15june Please assign me this issue

[2022-10-02 17:26] harsitagarwalla187 commented on #113
Can you assign it to me?

[2022-10-02 17:27] akshitagupta15june commented on #115
Ok

[2022-10-02 17:33] ManasviGoyal commented on #114
I would like to work on it. Do I need to add the handles to contributors mentioned at the end of the repository?

[2022-10-02 17:37] sshiwangi opened #119 "Improvements in the adopt.html navbar"
**Is your feature request related to a problem? Please describe.**
The navbar section of adopt.html page is not complementing the reportstary.html navbar.
Adopt.html
![petme](https://user-images.githubusercontent.com/77545230/193467727-01807398-888e-4315-9b5e-6ab8aa7af8c3.png)
reportstary.html
![petme2](https://user-images.githubusercontent.com/77545230/193467751-f4341b83-d8c5-4d6b-9dd9-877285c835

[2022-10-02 17:38] sshiwangi commented on #119
@akshitagupta15june please assign me this issue under hacktoberfest.

[2022-10-02 17:40] yesimhozman commented on #117
Hello @akshitagupta15june . Can you specify the need? You mean the cat dog and rabbit are not visible so maybe we can use transparent background ?

[2022-10-02 17:42] akshitagupta15june commented on #117
![Screenshot_20221002-225423](https://user-images.githubusercontent.com/57909583/193468222-dc9bebb9-56b4-47c8-a26c-4f1637801049.png)
See the logo is not visible

[2022-10-02 17:43] akshitagupta15june commented on #117
Before dog and Delhi
It's black

[2022-10-02 17:43] akshitagupta15june commented on #117
It should be white

[2022-10-02 17:44] yesimhozman commented on #117
ok, you mean the location and animal icons should be white. Could you assign it to me ?

[2022-10-02 17:45] akshitagupta15june commented on #117
Ofcourse

[2022-10-02 18:08] sourav9599 opened #123 "No icon in Title Bar"
![image](https://user-images.githubusercontent.com/50352739/193469174-94e7ded7-0f6e-4d64-a008-d9eeb00f241b.png)

[2022-10-02 18:09] akshitagupta15june commented on #123
go for it!

[2022-10-02 18:12] akshitagupta15june commented on #119
go for it @sshiwangi

[2022-10-02 18:12] #114 closed

[2022-10-02 18:25] harsitagarwalla187 commented on #123
Can you assign it to me?

[2022-10-02 18:33] #123 closed

[2022-10-02 19:43] Anuran12 commented on #58
Hi @akshitagupta15june  I started working on this.. please wait for my PR

[2022-10-02 20:56] bhattabhi013 opened #128 "Add 'onClick' functionality to social handles in footer"
**Describe the bug**
After clicking on social handles (facebook, Instagram), nothing happens.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the footer section.
2. Click on Facebook or Instagram icon.
3. See an error

**Expected behavior**
Redirect to the respective handles or remove the icons from footer if social handle not available

**Screenshots**
If applicable, add screenshots t

[2022-10-02 20:57] Samriddh2703 commented on #119
can you assign it to me?

[2022-10-02 20:58] Samriddh2703 commented on #113
please assign me...

[2022-10-02 20:59] Samriddh2703 commented on #106
assign it please to me

[2022-10-03 02:29] #106 closed

[2022-10-03 02:29] #113 closed

[2022-10-03 02:30] akshitagupta15june commented on #58
Ok

[2022-10-03 02:46] akshitagupta15june opened #129 "Improve "Our Contributor section""
![image](https://user-images.githubusercontent.com/57909583/193492724-04e93b8b-2965-465e-8146-e43a9aae22be.png)

there is no github icon image as well as no proper spacing

[2022-10-03 02:47] akshitagupta15june commented on #128
Currently social handles not available but we are planning to create ones so right now this issue is not required

[2022-10-03 02:47] #128 closed

[2022-10-03 02:50] akshitagupta15june commented on #16
go for it @aryaupadhyay24

[2022-10-03 02:52] danschenker commented on #129
I'd be happy to take this on if you're willing, @akshitagupta15june!

[2022-10-03 03:07] akshitagupta15june commented on #129
Go for it

[2022-10-03 03:30] #119 closed

[2022-10-03 03:38] akshitagupta15june opened #132 "Improve the footer section"
![image](https://user-images.githubusercontent.com/57909583/193497286-f656ac71-5514-43bb-8e33-5df5157d43ec.png)

footer and contributor section should have a proper spacing
and all the things should be aligned

[2022-10-03 03:39] #129 closed

[2022-10-03 03:40] danschenker commented on #60
At your request, I'd like to be a part of this one as well, please @akshitagupta15june 🙂

[2022-10-03 03:41] akshitagupta15june commented on #60
yes anyone can work on this, all blogs will be published in this website

[2022-10-03 03:41] akshitagupta15june commented on #60
@danschenker can u look at current issue #132

[2022-10-03 03:41] deven-533 commented on #132
Please Assign me this issue ma'am

[2022-10-03 03:42] akshitagupta15june commented on #132
ok!

[2022-10-03 03:44] akshitagupta15june opened #133 "Add an option of animal shelter near me using maps api"

[2022-10-03 03:44] #29 closed

[2022-10-03 03:45] akshitagupta15june opened #134 "Add a backend to the details collected by the adopt form"

[2022-10-03 03:45] #10 closed

[2022-10-03 03:49] mritul commented on #134
Hi @akshitagupta15june I would love to work on this issue !

[2022-10-03 03:51] akshitagupta15june commented on #134
go for it! for any discussion @muditchoudhary will help u in this
discord channel https://discord.gg/X3HZAPzykU

[2022-10-03 03:51] mritul commented on #134
Sure ! Thanks

[2022-10-03 03:53] danschenker commented on #60
Just emailed a blog post to you via Google Docs!

[2022-10-03 03:55] danschenker commented on #34
I didn't see this before adding a few contributions. Want me to fork this and add myself, or would you prefer to have one person request everyone's handles and knock them all out at once?

[2022-10-03 03:55] akshitagupta15june commented on #60
Thankyou so much
I will surely look into this and add it in website

[2022-10-03 03:56] akshitagupta15june commented on #34
U can add it directly and give a pr

[2022-10-03 04:02] akshitagupta15june commented on #60
Waiting for blogs from all contributors!
deadline is 30 october 2022
After writing the blogs you can paste your links here! or if you want you can write in Google docs and mail the pdf to [akshitagupta15june@gmail.com](mailto:akshitagupta15june@gmail.com)
for discussion come at https://github.com/akshitagupta15june/PetMe/discussions/61

[2022-10-03 04:10] akshitagupta15june opened #136 "decrease the size of embed video in the readme"
![image](https://user-images.githubusercontent.com/57909583/193500129-eb8c0146-b51f-44f0-ba62-06bc1b456b11.png)

[2022-10-03 04:35] d3vsuthar commented on #132
looks like this was broken by the other PRs @akshitagupta15june :/

[2022-10-03 04:35] rodolfonei commented on #136
Hi! I would like to work on this issue, could you assign me?

[2022-10-03 04:37] akshitagupta15june commented on #136
ok

[2022-10-03 04:37] akshitagupta15june commented on #132
yeah

[2022-10-03 05:54] sudhay23 commented on #133
Hello @akshitagupta15june. This sounds interesting and I'd like to try it out. Can I have it assigned?

[2022-10-03 05:56] akshitagupta15june commented on #133
go for it!

[2022-10-03 05:58] sudhay23 commented on #133
Thanks. Do you have any specific action plan in mind for me to get started and which page you expect to see the changes on?

And by Maps API, what's the actual expectation?

[2022-10-03 06:32] Vanshiii203 opened #137 "adding a better transition on adopt me button"
**Describe the solution you'd like**
I would like to add a better transition on adopt me button

![Screenshot (443)](https://user-images.githubusercontent.com/94471189/193514380-eedc30e8-726f-44e2-8933-fb740cb97820.png)

[2022-10-03 06:35] Vanshiii203 opened #138 "The website does not have favicon"
**Describe the bug**
There is no favicon on the website, so can I use the logo of website and make a favicon and put it on the website

**Screenshots**
![Screenshot (442)](https://user-images.githubusercontent.com/94471189/193514842-4273d22c-1ede-4891-b3b7-bd5c8946102e.png)

[2022-10-03 06:36] akshitagupta15june commented on #138
go for it @Vanshiii203

[2022-10-03 06:39] Vanshiii203 opened #139 "the text on home page is not clearly visible in mobile view"
**Describe the bug**
the text on home page is not clearly visible in mobile view

**Screenshots**
![Screenshot (444)](https://user-images.githubusercontent.com/94471189/193515230-28e8e491-991e-48df-a2b3-96113d11b870.png)

[2022-10-03 06:42] akshitagupta15june commented on #139
actually i am creating an issue for it to change the background, currently finding one

[2022-10-03 06:42] #139 closed

[2022-10-03 06:46] Vanshiii203 opened #140 "The contact us button can be changed to an element of navbar and linked to the contact us section of the website"
**Describe the bug**
The contact us button can be changed to an element of navbar and linked to the contact us section of the website

**Screenshots**

https://user-images.githubusercontent.com/94471189/193516239-b843ee67-276e-4851-889a-bfd060fb7367.mp4

[2022-10-03 06:46] akshitagupta15june commented on #133
animal shelter location is needed for the stary animals, like suppose a person x found a stray animal whose condition is very bad and injured so X can come to the website and click on animal shelter near me option and X can contact the respective authority, means X will get the info of that particular shelter

firstly i am thinking is it possible to create a custom map for it don't want to target

[2022-10-03 06:47] akshitagupta15june commented on #133
animal shelter option will be in navbar and on clicking on it , it will take to a map where nearest shelters are available along with contact numbers

[2022-10-03 06:48] akshitagupta15june commented on #140
@Vanshiii203 can u please work on previous issue i will open new issues accordingly so as to give chance to other contributors as well.

[2022-10-03 06:48] #140 closed

[2022-10-03 06:49] Vanshiii203 commented on #140
okay

[2022-10-03 06:51] akshaaatt opened #141 "Migrate the project to NextJs/React"
**Is your feature request related to a problem? Please describe.**
As the web app grows, we need to be able to maintain it efficiently, hence a framework for the same would be better.

**Describe the solution you'd like**
Using NextJs will make the app simpler while making sure it is future-secure.

**Describe alternatives you've considered**
We can stick to Vanilla Js and pure HTML as of now but

[2022-10-03 07:08] muditchoudhary commented on #134
@mritul for this issue we need to make the logic so that as soon as user submit the form the data will store in the database.

We already had one database to store pets info and someone working on a database to store the doner info ( person who is donating).

So now I think you need to wait until both database work finished and we merged the pr.

Hope It makes sense

[2022-10-03 07:13] akshitagupta15june commented on #141
@muditchoudhary and @Susmita-Dey what are your thoughts in this?

[2022-10-03 07:28] Anuran12 commented on #58
![image](https://user-images.githubusercontent.com/104062485/193522750-398c7fb8-84c2-44cb-b06c-1bbdda443283.png)

@akshitagupta15june Is it okay ?

[2022-10-03 07:34] akshitagupta15june commented on #58
the button is not needed for support us just on hovering it will have a dropdown and shift contact us after supports us

[2022-10-03 07:40] stephane-r opened #142 "Add ESLint and Prettier config"
Hey @akshitagupta15june

I think it would be nice to add an ESLint and Prettier config on your project. Many people how to work on this project, it's preferable that everyone use the same config, that of your project.

[2022-10-03 07:42] akshitagupta15june commented on #142
where are you gonna start with? like i would suggest u to start with adopt page https://akshitagupta15june.github.io/PetMe/adopt.html

[2022-10-03 07:51] stephane-r commented on #142
The best would be format all HTML and CSS files with `Prettier` and add a basic `ESLint` config

[2022-10-03 07:52] Anuran12 commented on #58
Ohh okay

[2022-10-03 08:02] si88har1h opened #143 "Improving the pet details box element"
**Is your feature request related to a problem? Please describe.**
container for the pet image breaks the background when hovered over.

**Describe the solution you'd like**
I'd like to add a hidden overflow property to the pet picture container and change the container's border-radius as its too rounded in my opinion.

**Describe alternatives you've considered**
I could also add the overflow of t

[2022-10-03 08:07] akshitagupta15june commented on #143
Go for it

[2022-10-03 08:13] akshitagupta15june commented on #142
@Susmita-Dey and @muditchoudhary are u ok with it?

[2022-10-03 08:30] Anuran12 commented on #58
![image](https://user-images.githubusercontent.com/104062485/193533303-96065127-a3ba-4a58-8268-48997dbe0832.png)
Hey @akshitagupta15june it's looking better if I add the "support us" link before the "SOS Report" link.

[2022-10-03 08:35] Anuran12 commented on #58
so can I create the PR now ?

[2022-10-03 08:35] akshitagupta15june commented on #58
yes

[2022-10-03 08:41] akshitagupta15june commented on #133
yes they will be, but currently we don't have a backend
yes we can customise the map

[2022-10-03 08:42] Anuran12 commented on #58
Btw.. I have a out of topic question..

will you really use this web site for pet adoption ? I mean if it's yes then I would like to improve this website because I love pets too^_^.

Actually I saw the codes in the repository and it's not looking good to me.. The codes are me messy, the dark mode light mode does not looking good. and this website need lots of improvements.

[2022-10-03 08:43] sudhay23 commented on #133
Okay. So to start off, I feel using React for this particular case is of good use. So is it fine if I make a subfolder React App just for this and then use iframes or redirects to implement this function?

[2022-10-03 08:44] Anuran12 commented on #58
So if you use this website as a real life based project then I would like to help you @akshitagupta15june

[2022-10-03 08:48] akshitagupta15june commented on #133
yes, you can

[2022-10-03 08:51] akshitagupta15june commented on #58
@Anuran12 i know currently the website is very messy, this website was created in a hackathon and won first prize and total it has 3 more members who contribute @Susmita-Dey @muditchoudhary and aisle
So we just thought why not make this website connected with real world so thats why we added this to hacktoberfest so that many can contribute.
We are still working on it and improving codes daily.
Ha

[2022-10-03 08:54] #58 closed

[2022-10-03 09:02] Susmita-Dey commented on #142
Yes, okay

[2022-10-03 09:05] Susmita-Dey commented on #141
Sounds good for the project but all credit will go to him after that. I mean to say that nothing would be left for what we did together to make the website.

[2022-10-03 09:08] akshaaatt commented on #141
No @Susmita-Dey , I'll only structure the nextjs codebase and copy the work you guys have done.

[2022-10-03 09:09] akshaaatt commented on #141
For example, we'll break the lengthy HTML file into chunks of small reusable react components.

[2022-10-03 09:10] Susmita-Dey commented on #141
Then it's good.

[2022-10-03 09:11] akshaaatt commented on #141
Could you guys turn this into a hacktoberfest issue?
We can have multiple PRs supporting this.

[2022-10-03 09:12] Anuran12 commented on #58
Ohh wow that's great...  then I want to be a regular contributer for this website. but I don't know how because I am new in github. if you guide me I will try to contribute as much as possible even after hacktoberfest.

I know Frontend quite well because i am learning it from class 11.. but never use my skill in opensource so yea this this my first time on github. yesterday I contributed into anot

[2022-10-03 09:13] akshaaatt commented on #141
Also, if we can have a branch on the repo which says `react` would be great. The react conversion will take some time hence we can't directly merge the upcoming PRs to main

[2022-10-03 09:13] akshitagupta15june commented on #141
fine! go for it

[2022-10-03 09:15] akshaaatt commented on #141
@akshitagupta15june just create a new branch called react. Only you can do so.

[2022-10-03 09:18] Anuran12 commented on #58
Thanks didi

[2022-10-03 09:21] akshitagupta15june commented on #141
feel free to create any issues

[2022-10-03 09:30] Anuran12 commented on #58
okay... but what should I do ? should I follow you on twitter ?

[2022-10-03 09:36] d3vsuthar commented on #141
+1 for this. Let me know if you need help creating the components. Also highly recommend using Supabase or another JAMstack compatible database for the backend

[2022-10-03 10:05] akshaaatt opened #150 "Host via Vercel"
**Is your feature request related to a problem? Please describe.**
We can use vercel to host our NextJs app for free.

**Describe the solution you'd like**
OSS projects are free to be deployed by Vercel. @akshitagupta15june this is specific to you. Please head to https://vercel.com/dashboard , add this project and configure the react branch to be deployed.

**Describe alternatives you've considere

[2022-10-03 10:17] akshitagupta15june commented on #150
ok i have chosen framework preset as next.js but how to configure react branch it is taking main as default
no option to change
![image](https://user-images.githubusercontent.com/57909583/193554370-16340c13-c17d-4a46-aab2-72187e443a0a.png)

[2022-10-03 10:22] akshitagupta15june commented on #150
do u need the write access @akshaaatt ?

[2022-10-03 10:22] akshitagupta15june commented on #150
because you cana lso help other contributors in this domain

[2022-10-03 10:23] akshaaatt commented on #150
Sure @akshitagupta15june , do provide my username the access. (Email: tiwariakshat03@gmail.com)

[2022-10-03 10:24] akshitagupta15june commented on #150
Sent you a invite and as you will also review the pr's related to react so please add yourself as a project maintainer in main readme

[2022-10-03 10:35] MohitNamdev22 opened #152 "Improving the UI of Contact Us Form"
**Is your feature request related to a problem? Please describe.**
The present UI of the Contact form looks very normal, the design can be improved.

**Describe the solution you'd like**
I'll make some modifications to the existing tailwind code and try to make a glass morphism effect on Form.

**Describe alternatives you've considered**
And some alignment changes are required.

**Additional conte

[2022-10-03 10:49] akshitagupta15june commented on #152
Go for it

[2022-10-03 10:53] akshaaatt commented on #150
Hey @akshitagupta15june , I am unable to configure the app on Vercel with the invite you have sent. I am not sure whether we need admin access to do so or not.

[2022-10-03 11:05] Susmita-Dey commented on #58
You can do that. Also you can schedule a meeting using Calndly link if you need or dm me in socials.

[2022-10-03 11:30] AkashSharma001 opened #153 "Improving Navigation Bar"
**Is your feature request related to a problem? Please describe.**
As I have seen the website, I have found that all pages have a different navigation bar

**Describe the solution you'd like**
I want to add home page navigation bar to all pages.

**Additional context**

Screenshot

Home Page
![image](https://user-images.githubusercontent.com/97700368/193566030-e185008f-a05a-481d-a07f-d63c4542e3b9.

[2022-10-03 11:31] AkashSharma001 commented on #153
Please Assign me.

[2022-10-03 11:32] akshitagupta15june commented on #153
go for it

[2022-10-03 11:38] akshitagupta15june opened #154 "Design the blogs page blog.html"
Till now i have one blog received from Dan Schenker-: https://docs.google.com/document/d/14W-uGQFLrQySVddv-jzwPRu2vCVYpkRahCgOB34wApY/edit?usp=sharing

he has contributed in our repo

A template that i liked very much is attached
just surfing google for templates but we have to create from scratch

![image](https://user-images.githubusercontent.com/57909583/193568174-b96608d0-10ec-46ca-b6f0-9ea578

[2022-10-03 11:39] akshitagupta15june commented on #154
multiple contributors can work on it so please comment if u want to be assigned

[2022-10-03 11:40] akshitagupta15june opened #156 "Design the blogs page blog.html"
Till now i have one blog received from Dan Schenker-: https://docs.google.com/document/d/14W-uGQFLrQySVddv-jzwPRu2vCVYpkRahCgOB34wApY/edit?usp=sharing

he has contributed in our repo

A template that i liked very much is attached
just surfing google for templates but we have to create from scratch

![image](https://user-images.githubusercontent.com/57909583/193568174-b96608d0-10ec-46ca-b6f0-9ea578

[2022-10-03 12:28] Vanshiii203 commented on #140
@akshitagupta15june can I create new issues now? I have raised the PRs for my previous issues

[2022-10-03 12:55] mritul commented on #156
@akshitagupta15june I can work on the header part of the blog page. What are the next steps I should be taking in order to start working ?

[2022-10-03 13:47] LittleMissButtons commented on #60
Hiya. If we email you a copy of our blog post does that go towards our Hacktobefest count or do we need to do it via a pull request for it to count? Cheers

[2022-10-03 14:58] sumit-022 commented on #153
I will use partials for this. So that every header remains the same and attractive. Please assign this to me

[2022-10-03 15:01] sumit-022 commented on #152
I can do it. Assign to me

[2022-10-03 15:02] MohitNamdev22 commented on #152
Bro it's already assigned to me and may create something new issue

[2022-10-03 15:59] Vanshiii203 opened #159 "Adding the website logo to readme.md"
**Is your feature request related to a problem? Please describe.**
I would like to Add the website logo to readme

[2022-10-03 15:59] #152 closed

[2022-10-03 16:03] RRK-CODER commented on #159
I would like to add fabicons to your website, kindly give approval to proceed

[2022-10-03 16:19] akshitagupta15june commented on #159
Website logo is already there

[2022-10-03 16:19] #159 closed

[2022-10-03 16:20] akshitagupta15june opened #160 "Bug alert: SOS Button UI Gone"

[2022-10-03 16:21] RRK-CODER commented on #159
but it is not visible

[2022-10-03 16:22] RRK-CODER commented on #159
The logo of the website is not visible , I would like to add fabicons to your website, kindly give approval to proceed.

[2022-10-03 16:29] shubhcoder2104 opened #161 "Add a section how to contribute in PETME in the main readme"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-10-03 16:41] AkashSharma001 commented on #160
Assign me. I will fix this issue.
@akshitagupta15june

[2022-10-03 16:50] akshitagupta15june commented on #160
U are already assigned an issue so let other contribute

[2022-10-03 17:16] Mominadar commented on #141
Hi, I would also like to contribute to this effort.

[2022-10-03 17:24] akshitagupta15june commented on #141
@akshaaatt please guide @Mominadar

[2022-10-03 18:28] prathimacode-hub opened #162 "Create an Impact section in the Home page"
**Is your feature request related to a problem? Please describe.**
I would like to create an impact section to the home page

**Describe the solution you'd like**
Adding an impact section will benefit users in knowing of how this app made difference to pet's life just by taking a step and therefore inspires them to initiate the goodness.

Can you assign this issue? @akshitagupta15june

[2022-10-03 18:48] Sukriti-m commented on #41
Hi @akshitagupta15june
I'd like to work on this issue. I have made many projects of backend using NodeJS. I will connect this to a MongoDB database. Please assign it to me.

[2022-10-03 19:05] lakshyaagr1105 commented on #160
Hi @akshitagupta15june, I am Lakshya and i would like to work on this issue. So, please assign me this issue.

[2022-10-03 19:46] Anuran12 commented on #156
Hi @akshitagupta15june  i would like to work on this as i already worked on this type of feature.

Here is one of my work 👇
![193422383-33051333-ec70-4fb9-b3f6-000973103170.png](https://user-images.githubusercontent.com/104062485/193665084-3b5d1c92-85e4-420d-beb0-6f169a1ec100.png)

So could you assign it to me?

[2022-10-04 05:04] muditchoudhary commented on #142
Sure It's good. As we have many only people contributing we all should follow the same style rules.

You can work on that @stephane-r

[2022-10-04 05:29] muditchoudhary commented on #141
Yes, he is correct. I think we need a framework to maintain the website efficiently and speed up the process of development.

[2022-10-04 05:29] muditchoudhary commented on #141
Yes, he is correct. I think we need a framework to maintain the website efficiently and speed up the process of development.

[2022-10-04 06:52] aanchal-fatwani opened #164 "User able to submit the form without entering any info."
**Describe the bug**
On Contact Us Form, the user is able to Submit the form without entering any info. This then redirects to Formspee and there the user is shown an error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ['...'](https://akshitagupta15june.github.io/PetMe/index.html#contact)
2. Click on 'Contact Us'
3. See the error

**Expected behavior**
The validations should happen

[2022-10-04 06:53] aanchal-fatwani commented on #164
@akshitagupta15june  I would like to work on this issue and add a fix for the same. Please assign the issue to me so I can proceed with the same.
Thanks

[2022-10-04 08:20] EslemOuederni commented on #60
Here is my Google docs pet blog ! [](https://docs.google.com/document/d/1ttkonrd7inrBiKTDADwAyL-D5-bLUprrrvlepM8Rcio/edit?usp=sharing)

[2022-10-04 08:34] Anuran12 commented on #150
@akshitagupta15june

you must login in Vercel with your github account

then in vercel , in a new project you will see this page ⬇️
![image](https://user-images.githubusercontent.com/104062485/193772486-e0614e93-8a57-4dde-a690-0a47f6973735.png)

then click on the github button. then you will see this ⬇️
![image](https://user-images.githubusercontent.com/104062485/193773117-51eb023b-91a2-453c-b90d-

[2022-10-04 08:38] Anuran12 commented on #150
then you will see this⬇️
![image](https://user-images.githubusercontent.com/104062485/193774042-bd5433c5-f859-495d-9ff4-25a4db9b5aec.png)

[2022-10-04 13:11] akshitagupta15june commented on #150
this process is done already but connect react branch is not possible

[2022-10-04 13:12] akshitagupta15june commented on #60
thanks @EslemOuederni

[2022-10-04 13:13] akshitagupta15june commented on #164
ok go for it

[2022-10-04 13:15] akshitagupta15june commented on #156
ok go for it @Anuran12

[2022-10-04 13:17] akshitagupta15june commented on #160
ok @lakshyaagr1105

[2022-10-04 13:21] akshitagupta15june commented on #161
ok @Sukriti-m

[2022-10-04 14:07] Anuran12 commented on #150
Hey hey.... @akshitagupta15june I got it

[2022-10-04 14:13] Anuran12 commented on #150
![image](https://user-images.githubusercontent.com/104062485/193841725-4efd9437-a523-4ecf-adb0-8456d7a2b193.png)

at first you have to write "react" under the "BRANCH NAME"

then you have to create a empty commit in your react branch and BOOM💥 !

I tried it⬇️
![image](https://user-images.githubusercontent.com/104062485/193842361-dd8f6cc4-464a-41c5-b32f-3cfb8a5d2726.png)

[2022-10-04 14:37] Anuran12 commented on #156
Okay.. @akshitagupta15june  just have have a question. Do you want the theme as same as you mentioned?

[2022-10-04 15:07] akshitagupta15june commented on #150
![image](https://user-images.githubusercontent.com/57909583/193856213-f68e1a84-57b7-4c38-96cc-c64aa36b1e5b.png)

[2022-10-04 15:19] Anuran12 commented on #150
Oh wait let me solve this 😐 then i will tell you.

[2022-10-04 15:27] akshitagupta15june commented on #60
yes, u can choose any platform but we will be needing your content for our website blog so just mail me the doc content at akshitagupta15june@gmail.com

[2022-10-04 15:31] akshitagupta15june commented on #60
yes, u can choose any platform but we will be needing your content for our website blog so just mail me the doc content at [akshitagupta15june@gmail.com](mailto:akshitagupta15june@gmail.com)

[2022-10-04 16:40] Anuran12 commented on #150
@akshaaatt  Did you ever try to host this react branch locally ? I am trying but it show me lots of errors

[2022-10-04 17:57] sumitkr2000 opened #166 "Improving styles"
Hey @akshitagupta15june I want to add hover effect on buttons and improve styling of the page. Can you please assign me this issue?

After adding hovering effect buttons will animate.

Thank you!

[2022-10-04 18:27] MohitNamdev22 opened #167 "Changing background of Dogs section with some attractive pattern"
**Is your feature request related to a problem? Please describe.**
Currently, there is only yellow color in the background, If we use something pattern-like pattern it will look more attractive.
**Describe the solution you'd like**
I'll change the background color with some good pattern

**Additional context**
Current Background -
![image](https://user-images.githubusercontent.com/89779447/1938968

[2022-10-04 18:42] wvinson43 commented on #60
and I will email it to you as well!

[2022-10-05 02:34] #161 closed

[2022-10-05 02:37] akshitagupta15june commented on #166
ok @sumitkr2000

[2022-10-05 02:37] akshitagupta15june commented on #162
hey @prathimacode-hub it is not needed for website

[2022-10-05 02:37] #162 closed

[2022-10-05 02:38] akshitagupta15june commented on #167
ok go for it @MohitNamdev22

[2022-10-05 02:40] akshitagupta15june commented on #60
thankyou so much @wvinson43 for ur blog
waiting for others blog

[2022-10-05 03:43] akshitagupta15june commented on #60
There are many open issues in repo you can contribute in them and don't forget to add your handle in contributors.md and give me a pr

[2022-10-05 03:58] akshitagupta15june commented on #156
yes

[2022-10-05 06:30] Anuran12 commented on #150
@akshitagupta15june did you try to host it locally?

[2022-10-05 06:37] akshitagupta15june commented on #150
error

[2022-10-05 07:16] danschenker commented on #60
I'm trying to submit a PR for this as well, but I can't seem to do it on my fork without any code changes. Any suggestions @akshitagupta15june?

[2022-10-05 07:18] akshitagupta15june commented on #60
yes you just have to share your blog with me at akshitagupta15june@gmail.com and then add your contribution details in contribution.md @danschenker

[2022-10-05 07:26] danschenker commented on #60
Thanks for the quick response! I was already added to `contributors.md`, so I created contribution.md with a copy of my post from Google Docs. @akshitagupta15june

[2022-10-05 07:29] akshitagupta15june commented on #60
ok fine then no issue i have got it and we are developing blogs.html, if you want to give pr then i will assign you a new issue where you can add your blog directly to the website by giving the pr
thanks
@danschenker

[2022-10-05 07:30] danschenker commented on #60
Ah okay sure, that should work! Thanks for that

[2022-10-05 07:30] sumitkr2000 commented on #166
@akshitagupta15june  Can I add animations to the website or you want to keep it simple?

[2022-10-05 07:32] akshitagupta15june commented on #166
@Susmita-Dey do u want some animations for website?

[2022-10-05 07:38] Anuran12 commented on #156
Okay but it will take 4 or 5 days because i am not at home now 🙂..

[2022-10-05 07:41] akshitagupta15june commented on #156
take ur time

[2022-10-05 07:48] Vanshiii203 opened #174 "The toggle theme button does no have a cursor pointer"
**Describe the bug**

The toggle theme button does no have a cursor pointer

https://user-images.githubusercontent.com/94471189/194008168-763f2c67-62c8-45d8-bbc4-72012038169c.mp4

[2022-10-05 07:52] akshitagupta15june commented on #174
thanks for this issue, but its not needed currently

[2022-10-05 07:52] #174 closed

[2022-10-05 08:12] akshaaatt commented on #150
I've fixed the build and now it is being hosted properly.

[2022-10-05 08:12] #150 closed

[2022-10-05 08:13] akshitagupta15june commented on #150
where it is hosted @akshaaatt

[2022-10-05 08:17] Anuran12 commented on #150
Ohh great. 😃

[2022-10-05 08:24] akshaaatt commented on #150
Fir now, it is at https://pet-lkydb9qsj-akshitagupta15june.vercel.app/ @akshitagupta15june  but you can configure it on the vercel dashboard in future in case you have a domain name registered.

[2022-10-05 08:26] akshaaatt commented on #150
Also, I am travelling abroad currently, so might be a bit off this week in case people have any questions. The project is currently set for any nextjs beginner and there should be no blockers in general.

[2022-10-05 08:33] akshitagupta15june commented on #150
thanks @akshaaatt

[2022-10-05 09:28] rtewari056 opened #175 "Enhance the footer section"
#### There should be a gap between the input fields, social media icons and the text written above them

![improve](https://user-images.githubusercontent.com/75976169/194027395-823bdeb4-4cc9-4a39-9092-b6c4985f4686.png)

[2022-10-05 09:31] akshitagupta15june commented on #175
thanks for this issue but currently we don't need this change

[2022-10-05 09:32] #8 closed

[2022-10-05 09:32] #13 closed

[2022-10-05 09:42] akshitagupta15june commented on #41
@muditchoudhary can you please help her

[2022-10-05 10:27] muditchoudhary commented on #41
Yes it's possible we are using a mongo db in this

[2022-10-05 10:44] MohitNamdev22 opened #177 "There is color of ( optional ) text isn't visible report page"
**Describe the bug**
On the report stray animal page, on the address option the "( optional )" is not visible, the color of the text can be changed for visibility. So can I work on this issue under Hacktoberfest 2022?

**Screenshots**
![image](https://user-images.githubusercontent.com/89779447/194042537-50ed8cf5-7ddb-4cab-ab6c-b42fa42103bf.png)

[2022-10-05 11:58] akshitagupta15june commented on #177
@Susmita-Dey is it required?

[2022-10-05 12:01] Susmita-Dey opened #178 "Important : Petme"
**Is your feature request related to a problem? Please describe.**
Yes, contributors are directly making PRs without creating issues and getting assigned.

**Describe the solution you'd like**

![image](https://user-images.githubusercontent.com/79099734/194055404-d3908240-450d-43b4-922b-a0a54fc55d85.png)

Add a line here in bold and italic format so that contributors would note the following line

[2022-10-05 12:01] Potato-29 commented on #167
Can I work on this?

[2022-10-05 12:02] akshitagupta15june commented on #178
I am pinning this issue as important

[2022-10-05 12:03] Potato-29 commented on #166
Can you assign this to me? I can make the buttons better

[2022-10-05 12:03] akshitagupta15june commented on #167
Issue completed

[2022-10-05 12:03] #167 closed

[2022-10-05 12:05] Susmita-Dey commented on #166
@sumitkr2000 Go ahead

[2022-10-05 12:07] Potato-29 commented on #143
the pe picture borders look way too rounded and need to be fixed, may I work on this?

[2022-10-05 12:13] Susmita-Dey commented on #177
@akshitagupta15june What can be done here is either remove the `optional` word or highlight it using some colors.

[2022-10-05 12:17] sumitkr2000 commented on #166
If u allow me to add animations on cards of pets I can do that.

[2022-10-05 12:18] akshitagupta15june commented on #143
@Potato-29 don't comment on already assigned issues

[2022-10-05 12:18] shubhamrawat090 commented on #178
Hey @Susmita-Dey can you assign it to me?

[2022-10-05 12:20] sumitkr2000 commented on #166
If u add that feature then only i will do it. Because it takes a lot of time . After wasting so much time if its not merged it hurts :)

[2022-10-05 12:20] Susmita-Dey commented on #178
@shubhamrawat090 Go ahead

[2022-10-05 12:22] Susmita-Dey commented on #166
@akshitagupta15june What to do?

[2022-10-05 12:29] akshitagupta15june commented on #166
Better is to leave it now @Susmita-Dey because we are already working on other issues if needed we will assign him in future

[2022-10-05 12:33] Potato-29 commented on #166
It doesn't take time at all, I can do the animations, I don't care if you merge it or not

[2022-10-05 12:36] shubhamrawat090 commented on #178
@Susmita-Dey I have done it and made a pull request. Please check it.

[2022-10-05 12:54] warmachine028 opened #180 "Improvement in ISSUE TEMPLATES"
## Description
- Currently the issue templates in PetMe are very basic
- Every thing is pre filled making it confusing to identify the labels
- Users can't distinguish where to write their feature requests or bug description clearly.
- There is no place dedicated for adding screenshots.
- I want to improve the issue templates of BUG and FEATURE_REQUEST by adding proper descriptions, textAreas, des

[2022-10-05 12:55] akshitagupta15june commented on #180
It's not needed
Thanks for your issue

[2022-10-05 12:55] #180 closed

[2022-10-05 13:10] Anuran12 commented on #150
Hey @akshitagupta15june this branch seems like empty now. So i would like to implement things from scratch. I just learnt next js and trying to do contribution in next js as much possible. So it will be great for me if you make me maintainer of the "react" branch.

[2022-10-05 13:19] sumitkr2000 commented on #166
@akshitagupta15june okk just ping me when you require it. Thank you!

[2022-10-05 15:21] Yashh-Bajaj opened #183 "Contact Us Page"
Describing the Bug-
In Contact Us page the heading is not clearly visible so it the words can be formatted by changing their color. Or there is an another option to change the Contact Us page . I can make it more attractive.
Screenshot-
<img width="846" alt="image" src="https://user-images.githubusercontent.com/97032507/194097912-8bb51f21-df40-4f83-a708-e0785461ba17.png">

[2022-10-05 15:50] AkashSharma001 opened #184 "Day mode texts colors are different and some text partially visible"
**Describe the bug**
In Day mode, many texts have different colors and some of the text is partially visible.

**To Reproduce**
Steps to reproduce the behavior:
Click on the 'toggle button(Day Mode)'
![image](https://user-images.githubusercontent.com/97700368/194100925-be7b5b93-cf16-4e28-9081-f54657e977c7.png)

**Expected behavior**
A clear and concise description of what you expected to happen.
!

[2022-10-05 15:55] DugarRishab commented on #141
@akshaaatt, correct me if I am wrong but, I don't think the nextjs server will be compatible with a node js server. Just create a react app for now, and integrate the backend later. @muditchoudhary what do you think?

[2022-10-05 15:57] AkashSharma001 commented on #184
Please Assign me @akshitagupta15june

[2022-10-05 16:31] DugarRishab commented on #141
I know that is why said that it might not work. The current backend (yet to be accepted and merged) is a node server.

[2022-10-05 16:35] Huluvu424242 commented on #178
Hi,
is this a good thing? In my mind it isn't because:

1. There is an issue maybe number 1
1. There is an developer maybe A with comment "assign me, please ..."
1. There is an developer maybe B with comment "assign me, please ..."
1. You assign today to A but no PR is opened to solve the problem
1. You assign in two weeks to B but no PR is opened to solve the problem
1. C has no comment "assign m

[2022-10-05 17:35] #178 closed

[2022-10-05 17:50] marsian83 commented on #184
Please assign this task to me under hactoberfest, it'd be my first proper contribution

[2022-10-05 17:51] akshitagupta15june commented on #184
This is not needed

[2022-10-05 17:51] #184 closed

[2022-10-05 17:52] akshitagupta15june commented on #183
Hi thanks for creating issue, this is not needed currently

[2022-10-05 17:52] #166 closed

[2022-10-05 17:59] marsian83 opened #185 "Navbar Items hover color is not contrasting and theme changing button does not feel interactive"
**Describe the bug**
Hovering on the navbar items assigns them a color which makes them not clearly visible.
Also the icon for switching themes does not react to mouse hover by changing color like other navbar items.
The theme switching button must also change to a pointer cursor when hovered.
same goes for the text besides the logo, that text doesn't react to hovers either.

**To Reproduce**
Step

[2022-10-05 17:59] marsian83 commented on #185
Can I be assigned this issue under hacktoberfest 2022 @akshitagupta15june

[2022-10-05 18:17] sumitkr2000 commented on #166
Why did u closed this?

[2022-10-05 19:37] AkashSharma001 commented on #153
Can I make the navigation bar sticky? @akshitagupta15june

![image](https://user-images.githubusercontent.com/97700368/194147133-f08ecfe8-c806-4446-b44d-2639c84ec5b8.png)

[2022-10-05 23:18] GingerKiwi commented on #60
Hi,
I just finished this post. I'm done for the day and will follow the process to get this credited as a Hacktoberfest PR tomorrow.

[Tips For New Feral Rescue Kitten Owners — Part 1 of 3
By Elizabeth McCready and rescue kitten Maybel](https://gingerkiwi-dev.medium.com/bc6d21da2dd9)

[2022-10-06 01:59] muditchoudhary commented on #141
I don't know much about them. But If next js has its own server and we are using node now how can we use both? I think it's not possible. It is sure we are going to use node for this one as we already have a PR.

[2022-10-06 02:28] akshitagupta15june commented on #60
great thanks @GingerKiwi! this blog will be added soon, till then please add your handle in contributors.md and give me a pr

[2022-10-06 02:29] akshitagupta15june commented on #153
thanks for issue, but its not required

[2022-10-06 02:29] #153 closed

[2022-10-06 02:30] akshitagupta15june commented on #166
will create a new issue when needed

[2022-10-06 02:31] akshitagupta15june commented on #185
ok go for it

[2022-10-06 04:15] marsian83 commented on #185
#188 this fixes it? if I reckon correctly

[2022-10-06 05:09] hamzailyas237 commented on #185
Please assigned it to me.

[2022-10-06 05:13] #185 closed

[2022-10-06 06:07] aryankeluskar commented on #137
rather than a sliding transition, i propose to add a simple color transition

[2022-10-06 06:12] MohitNamdev22 opened #190 "There is no favicon on Report Stray page"
**Is your feature request related to a problem? Please describe.**
There is no favicon on the report stray page which is looking unprofessional.

**Describe the solution you'd like**
I'll create a favicon and link it with the website.

[2022-10-06 08:24] Satyakoidala commented on #22
@akshitagupta15june , is this issue still open to working? I see the UI for Navbar component has already been updated.

[2022-10-06 08:26] #22 closed

[2022-10-06 10:09] kartikmandhan commented on #160
@akshitagupta15june

[2022-10-06 10:23] kartikmandhan opened #192 "Visiblity of Contact Us Form's labels and button"
**Is your feature request related to a problem? Please describe.**
The labels of contact us form are barely visible and makes it difficult for the user to read them

**Describe the solution you'd like**
Changing the shades of existing color to make it clearly visible and compatible with the existing UI.

**Describe alternatives you've considered**
Before:
![Screenshot 2022-10-06 at 3 52 35 PM](htt

[2022-10-06 10:24] kartikmandhan commented on #192
I have the changes ready, if it is approved I can create the pull request immediately. Thanks

[2022-10-06 16:04] akshitagupta15june commented on #192
go for it!

[2022-10-06 16:38] akshitagupta15june commented on #7
Completed

[2022-10-06 16:38] #7 closed

[2022-10-06 16:39] #14 closed

[2022-10-06 16:40] #65 closed

[2022-10-06 16:40] #72 closed

[2022-10-06 16:40] #92 closed

[2022-10-06 16:40] #103 closed

[2022-10-06 16:41] #117 closed

[2022-10-06 16:41] #132 closed

[2022-10-06 16:41] #137 closed

[2022-10-06 16:47] DugarRishab commented on #41
hey, can I do this too?

[2022-10-06 16:51] akshitagupta15june commented on #41
Ok @DugarRishab

[2022-10-06 17:06] #164 closed

[2022-10-06 17:36] akshitagupta15june commented on #190
This is not needed
Thanks

[2022-10-06 17:36] #190 closed, assigned to nobody

[2022-10-06 17:38] mohdhaider07 opened #196 "Card does not looks good on medium screen"
**Card issue**
Card is not responsive on medium screen

**Expected behavior**
I want to make it responsive on medium screen

**Screenshots**
![image](https://user-images.githubusercontent.com/86488954/194381200-f654baca-8afc-46bf-846c-b49e126ede6a.png)

** I want to work on this  **
can you please assign this to me

[2022-10-06 17:41] akshitagupta15june commented on #196
Go for it

[2022-10-06 18:18] mohdhaider07 commented on #196
@akshitagupta15june I am added PR can you please take a Look

[2022-10-06 18:20] #196 closed

[2022-10-06 18:38] mohdhaider07 opened #199 "Contact Us button does not look good"
**Describe the bug**
on medium screen it is fine
but on small screen it dot not look good

**Medium screen**
![image](https://user-images.githubusercontent.com/86488954/194392073-8ce86839-66d8-4d98-a5bc-4a42d36d2dcf.png)

**Small screen**
![image](https://user-images.githubusercontent.com/86488954/194392221-68c18b99-cbfc-4f71-b87b-5d17ae7f9e96.png)

It should be on center

Can you assign this to m

[2022-10-06 18:46] #199 closed

[2022-10-06 19:06] gopukr opened #200 "Better readability for text used over image"
**Describe the bug**
Having difficulty reading white text used over the background image on mobile screens and medium screens.

**Expected behavior**
Bring more readability to the text used over background image on smaller screens

**Screenshots**

![white-text-issue](https://user-images.githubusercontent.com/89155028/194402317-f28772ae-d6f6-4169-97fb-86953d9a9c3e.jpg)

**Additional context**
I'd

[2022-10-06 21:06] mohdhaider07 commented on #34
@akshitagupta15june  I did not see this before making PR

[2022-10-06 21:32] mohdhaider07 opened #201 "Contact Us Button UI"
**Describe the bug**
Contact us Button UI does Not working well on Small Screen

**Screenshots**
**Before**
![image](https://user-images.githubusercontent.com/86488954/194422045-af0d35a0-eb41-422a-86a0-2ed7117c5c69.png)
**After**
![image](https://user-images.githubusercontent.com/86488954/194422262-9d5bda3a-84c6-4b0a-a189-bf54580fdcfd.png)

I am ready to make a PR, assign this to me ASAP

[2022-10-06 22:33] 19sriram commented on #200
@akshitagupta15june hey new contributor here. Can I make it responsive enough for all screens with screen contrast ?

[2022-10-06 22:39] 19sriram opened #202 "header is not uniform in all pages"
**Describe the bug**
The header elements such as logo and theme icon is not uniform across all pages

**To Reproduce**
Steps to reproduce the behavior:
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/5829079/194431287-3f3e8840-74c6-47a1-b86e-173ac478b51b.png">
 In about page
<img width="1435" alt="image" src="https://user-images.githubusercontent.com/5829079/194431340-

[2022-10-07 02:58] akshitagupta15june commented on #160
as there is no response from @lakshyaagr1105 so i am merging the pr of @kartikmandhan

[2022-10-07 02:58] #160 closed

[2022-10-07 02:58] akshitagupta15june commented on #202
go for it @19sriram

[2022-10-07 02:59] akshitagupta15june commented on #201
not needed currently
thaks

[2022-10-07 02:59] #201 closed

[2022-10-07 03:00] akshitagupta15june commented on #200
thanks for this issue i am planning to change background image

[2022-10-07 03:00] #200 closed

[2022-10-07 03:01] akshitagupta15june opened #203 "Change the background image to a brighter one for better text readability"
keep the theme in mind

Add your background images suggestions in the comment

[2022-10-07 03:02] akshitagupta15june commented on #60
deadline is 30 october 2022
don't forget to mail your blogs

[2022-10-07 03:02] kartikmandhan commented on #192
Created a PR for it @akshitagupta15june

[2022-10-07 03:03] #192 closed

[2022-10-07 03:08] ShreyasSahoo commented on #203
Hi Akshita, I would like to contribute to this issue.

[2022-10-07 03:11] TilteD24 commented on #203
Please assign me this task

[2022-10-07 03:14] akshitagupta15june commented on #203
ad image in comment which u are going to add

[2022-10-07 03:14] TilteD24 commented on #203
I would like to add this
[image](https://images.unsplash.com/photo-1444212477490-ca407925329e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1228&q=80)

[2022-10-07 03:16] akshitagupta15june commented on #203
@Susmita-Dey check images from contributors whichever suits the website because currently texts are not visible due to initial image

[2022-10-07 03:19] kartikmandhan opened #205 "Footer is half-visible for tablet screensize"
**Describe the bug**
Footer of the webpage gets cut out due to smaller screensizes, ("Adopt A pet"section is not visible on smaller screensize)
Before:

![Screenshot 2022-10-07 at 8 47 41 AM](https://user-images.githubusercontent.com/56060122/194460713-1d6f572c-fee4-49cc-a5a3-2fab5baeb49a.png)

After:
![Screenshot 2022-10-07 at 8 48 05 AM](https://user-images.githubusercontent.com/56060122/1944607

[2022-10-07 03:20] kartikmandhan commented on #205
Also for tablet screensize, this issue exists.

[2022-10-07 03:23] akshitagupta15june commented on #205
it looks ok!
if any changes required will create an issue
Thanks

[2022-10-07 03:23] #205 closed

[2022-10-07 04:12] gopukr opened #207 "Navigation to mentioned pages from About Us section"
**Is your feature request related to a problem? Please describe.**
In the About Us section, there are highlighted words that mention the features of the PetMe platform. If these texts could navigate the user to their respective page or section it would ensure better and faster navigation.

**Describe the solution you'd like**
When the mouse hovers over the highlighted words in the About Us section

[2022-10-07 04:14] akshitagupta15june commented on #207
go for it @gopukr

[2022-10-07 04:43] mohdhaider07 opened #208 "footer is not responsive"
**Describe the bug**
when you Move from larger screen to smaller footer remains the same. it is not responsive

**Expected behavior**
I want to make it responsive

**Screenshots**
On large screen

![image](https://user-images.githubusercontent.com/86488954/194468931-d820a1e6-12ba-401c-a9e6-408d977b9bbb.png)

**when you move from larger to smaller **
**Medium screen**

![image](https://user-images.

[2022-10-07 04:58] Susmita-Dey commented on #203
@akshitagupta15june @TilteD24 `image1` looks good than `image2`

[2022-10-07 04:59] akshitagupta15june commented on #203
ok @TilteD24 add the image 1

[2022-10-07 06:05] kartikmandhan opened #209 "Contact Us button is misaligned on smaller screensize"
**Describe the bug**
Contact Us button is misaligned on smaller screensize, and even goes out of viewport due to class "mx-72" to the parent div
Before:
![Screenshot 2022-10-07 at 11 32 46 AM](https://user-images.githubusercontent.com/56060122/194478655-8e425d8f-a87b-4264-8c28-e2e821357c2e.png)
After:
![Screenshot 2022-10-07 at 11 35 00 AM](https://user-images.githubusercontent.com/56060122/194478

[2022-10-07 06:10] Anuran12 commented on #60
@akshitagupta15june i sent you today.. can i write more than one blog ?

[2022-10-07 06:13] akshitagupta15june commented on #209
This issue is not needed currently

[2022-10-07 06:13] #209 closed

[2022-10-07 06:14] akshitagupta15june commented on #60
Sorry but for this competition only 1 blog is acceptable

But after 30 oct you can add

[2022-10-07 06:14] 19sriram commented on #208
i am planning to fix with the header :)

[2022-10-07 06:15] kartikmandhan commented on #209
@akshitagupta15june won't this affect the user experience of users using the website on mobile?

[2022-10-07 06:19] #208 closed

[2022-10-07 06:30] kartikmandhan opened #212 "Donate Animals form Contact Number field"
**Describe the bug**
Currently, user can type alphanumeric characters in Contact Number field and still the form is submitted

![Screenshot 2022-10-07 at 11 59 33 AM](https://user-images.githubusercontent.com/56060122/194482251-393acedc-aeb3-428a-b9a3-877246d2ef95.png)

changing the input type to "Number" will make user only type '+' and Numeric characters only:
![Screenshot 2022-10-07 at 12 00 31

[2022-10-07 06:31] kartikmandhan commented on #212
@akshitagupta15june is this needed?

[2022-10-07 06:31] akshitagupta15june commented on #212
go for it

[2022-10-07 06:34] 19sriram opened #213 "Buttons can be darker for more visibility - Cosmetic change"
**Describe the bug**
Selecting lighter theme, "Adopt me" buttons were still white and not visible

**Expected behavior**
Buttons & icons has to change with the theme or darker for more visibility

**Screenshots**
![image](https://user-images.githubusercontent.com/5829079/194482704-d9a3601b-7565-41ee-b1c3-1540847d9853.png)

**Desktop (please complete the following information):**
 - OS: macOS
 - Br

[2022-10-07 06:35] akshitagupta15june commented on #213
go for it

[2022-10-07 06:43] kartikmandhan commented on #212
@akshitagupta15june are you sure that "contact us" form's button alignment is not needed? (talking about the previous issue I created, #209 )

[2022-10-07 06:55] ayushanand16 opened #216 ""Adopt Me" not visible clearly on Mobile Screens"
**Describe the bug**
The "Adopt Me" banner in the home page is not visible clearly on mobile screens

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://akshitagupta15june.github.io/PetMe/ on Mobile
2. See error

**Expected behavior**
The "About Me" font should be clearly visible as it emphasizes the mission of the site.

**Screenshots**
Following screenshot is attached:
![WhatsApp

[2022-10-07 06:57] ayushanand16 commented on #216
@akshitagupta15june
Please let me work on this issue.
Thanks.

[2022-10-07 06:59] akshitagupta15june commented on #216
we are working on changing background so it will be visible afterwards

[2022-10-07 06:59] #216 closed

[2022-10-07 07:00] ayushanand16 commented on #216
Alright. Thanks

[2022-10-07 07:01] kartikmandhan opened #217 "SOS report Heading"
The heading of SOS report page has many capitalized letters in between the sentence which doesn't seems professional, I understand that those words are capital in order to highlight user's attention on them.
For ex: "Critical", "Animal Care"
![Screenshot 2022-10-07 at 12 30 01 PM](https://user-images.githubusercontent.com/56060122/194487177-7ab9668e-52f0-4124-9da7-297f85b4cb13.png)
Suggestion: Eit

[2022-10-07 07:01] #212 closed

[2022-10-07 07:01] 19sriram commented on #212
@kartikmandhan But, changing type to "number" is not the solution. if you change it, it can go to negative too ! This is not the solution

![image](https://user-images.githubusercontent.com/5829079/194487451-ac0fabb0-5a4a-4240-b7ec-7e4efb753725.png)

[2022-10-07 07:02] #202 closed

[2022-10-07 07:02] akshitagupta15june commented on #217
this is not needed

[2022-10-07 07:02] #217 closed

[2022-10-07 07:16] kartikmandhan commented on #212
@19sriram yes, but atleast now it doesn't accept alphabets, let me see if we get a better solution using regex

[2022-10-07 08:29] ayushanand16 opened #218 "Adding Contents to the Volunteer Page"
**Is your feature request related to a problem? Please describe.**
The current volunteer page has no content

**Describe the solution you'd like**
Instead of a blank page, we ask the user to submit their details which will go in the backend

**Describe alternatives you've considered**
We can also alternatively use google forms or redirect the user to mail us instead

[2022-10-07 08:36] akshitagupta15june commented on #218
Currently we are working on it
No form needed

[2022-10-07 08:36] #218 closed

[2022-10-07 09:35] mohdhaider07 opened #220 "Input Box Outline is not Uniform"
**Describe the bug**
Input Box outline are different on different pages

**Screenshots**
**Donate Animal Form**
![image](https://user-images.githubusercontent.com/86488954/194521643-9f6d2173-537f-46fa-941b-1d0c7b3ca694.png)

**Contact us Form**
![image](https://user-images.githubusercontent.com/86488954/194521972-983255d7-1704-4312-b376-d6afbf6a318f.png)

**SOS Report Form**
![image](https://user-

[2022-10-07 10:06] mohdhaider07 opened #222 "SOS report form is not responsive"
**Describe the bug**
SOS form is not responsive for small screen

**Screenshots**
![image](https://user-images.githubusercontent.com/86488954/194528994-3f467cbc-4a7b-42a5-9dfd-895ac732f182.png)

![image](https://user-images.githubusercontent.com/86488954/194529126-653ed2ee-5af7-4c91-8eda-d312689d3a00.png)

**Additional context**
I would like to make it better

[2022-10-07 11:16] omk-coder commented on #60
where should I paste the link here??

https://omk.hashnode.dev/all-about-pet-ownership-love-caring-helping-stray-dogs

[2022-10-07 11:19] akshitagupta15june commented on #60
Thanks for your blog
Can u tell your full name

[2022-10-07 11:20] omk-coder commented on #60
omkar ramishte.

[2022-10-07 11:21] akshitagupta15june commented on #60
Thankyou so much

[2022-10-07 11:22] omk-coder commented on #60
and just now I forked this repo again and the site looks amazing. UI changed

[2022-10-07 11:28] akshitagupta15june commented on #60
Yes these are all the efforts of contributors like u.

[2022-10-07 12:14] GingerKiwi commented on #60
Elizabeth McCready

https://github.com/GingerKiwi

Apologies for the delay. I've been helping my mom recover from Hurricane
Fiona.

On 2022-10-07 07:19, AKSHITA GUPTA wrote:

Links:
------
[1]
https://github.com/akshitagupta15june/PetMe/issues/60#issuecomment-1271461793
[2]
https://github.com/notifications/unsubscribe-auth/AQ65IIBNJDHBTWRJST2IX5LWCABNBANCNFSM6AAAAAAQY54HXI

[2022-10-07 14:05] akshitagupta15june commented on #220
this issue is not needed

[2022-10-07 14:05] #220 closed

[2022-10-07 14:05] akshitagupta15june commented on #222
this issue is not needed

[2022-10-07 14:14] annabaginski opened #223 "Navbar does not link to home page"
**Describe the bug**
The navbar does not link back to the home page when on other pages.

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to different page such as Donate Animals or SOS Report
2. Click Home on navigation bar

**Expected behavior**
Link needs to be changed to link back to homepage

**Additional context**
I would be happy to add this quick fix!

[2022-10-07 14:26] akshitagupta15june commented on #223
go for it

[2022-10-07 14:53] #207 closed

[2022-10-07 14:55] #203 closed

[2022-10-07 15:19] mohdhaider07 opened #225 "SOS Report Form not responsive"
**Describe the bug**
SOS Report form is not Resonsive

**Screenshots**
![image](https://user-images.githubusercontent.com/86488954/194588658-afb08a19-ba2f-423a-b093-30b9083ffa1f.png)

**Additional context**
Can you assign this to me , I already reported this issue but can you take a look again

[2022-10-07 15:22] mohdhaider07 opened #226 "SOS report button UI"
**Describe the bug**
UI of SOS button is not looking good

**Screenshots**
![image](https://user-images.githubusercontent.com/86488954/194590177-86cbb7e0-c0d0-4a42-8c8d-a3b89f9f2061.png)

**Additional context**
I want to add  hover and shadow effect

[2022-10-07 15:24] chakrinya009 commented on #55
can you please assign this issue

[2022-10-07 15:27] akshitagupta15june commented on #226
firstly work on previous assigned issue

[2022-10-07 15:27] #226 closed

[2022-10-07 15:51] 19sriram opened #227 "Adopt me page phone number is allowing other characters"
**Describe the bug**
Phone number in "Adopt me" page is allowing other characters which are non-numeric

**Expected behavior**
Telephone number should allow only numeric

**Screenshots**
![image](https://user-images.githubusercontent.com/5829079/194595686-cec420b7-276b-4192-bd32-3ec63946c381.png)

**Desktop (please complete the following information):**
 - OS: Mac
 - Browser Chrome

**Additional c

[2022-10-07 17:38] sumitkr2000 opened #229 "Adding favicon and animation"
Hey @akshitagupta15june I want to add favicon and animation to your website. Can you please assign me this issue so that I can work on it ?

[2022-10-07 17:54] vita-tran opened #230 "Disregard*** Issues with directing to proper pages from Index.html"
**Describe the bug**
The page for "Become A Volunteer" and "Blogs" can't be accessed on the Home Page

**Expected behavior**
Page should load to those particular html files (and should be able to return to index.html)

**Additional context**
I'd love to work on this and ensure that the linking between pages is fully functional

UPDATE: I didn't realize there was no content inside those two pages y

[2022-10-07 20:22] surya-doc opened #231 "Fixed the navbar to the top on scroll"
As of now, the nav bar is not stuck to the top on scroll. If it becomes fixed to the top on scroll it will be helpful for the user to navigate without scrolling back to the top. If it feels legitimate, then I want to work on this.

[2022-10-08 02:27] akshitagupta15june commented on #230
thanks we are working on those pages

[2022-10-08 02:27] #230 closed

[2022-10-08 02:28] akshitagupta15june commented on #229
where are u planning to add?

[2022-10-08 02:28] akshitagupta15june commented on #231
go for it!

[2022-10-08 04:49] surya-doc commented on #231
Done with my pr. Please check it.

[2022-10-08 04:55] #231 closed

[2022-10-08 05:37] sumitkr2000 commented on #229
Favicon will be simply added on the top as you know and animations on dog cards and contact us.

[2022-10-08 05:57] TilteD24 opened #237 "Changing the position of main body heading"
I would like to centralize the position of the title text "Adopt Me" on the homepage. The screenshot is attached for reference.
![screenshot](https://github.com/TilteD24/temp/blob/main/Screenshot3.png?raw=true)

[2022-10-08 06:21] Priyadarshani7 commented on #177
Hey! Can I work on this issue?

[2022-10-08 06:26] MohitNamdev22 commented on #177
It's been already done and changes are made on website

[2022-10-08 06:26] Susmita-Dey commented on #177
@Priyadarshani7 Check other issues as this has already been assigned

[2022-10-08 06:26] Priyadarshani7 commented on #223
Hey ! Can I work on this issue?

[2022-10-08 06:26] MohitNamdev22 commented on #177
You can closed this as completed

[2022-10-08 06:30] Priyadarshani7 commented on #17
Is anyone still working on this issue...if not please assign it to me?

[2022-10-08 06:37] Priyadarshani7 commented on #213
Is anyone working on this issue..if not please assign it to me

[2022-10-08 06:41] 19sriram commented on #213
PR raised already.

[2022-10-08 06:42] #213 closed

[2022-10-08 06:49] #177 closed

[2022-10-08 07:01] Kedap opened #238 "Add google maps address autocomplete"
**Is your feature request related to a problem? Please describe.**
nop

**Describe the solution you'd like**
Use the autocomplete of google maps when donating a pet or forms where address is requested

**Describe alternatives you've considered**
Use an embedded map from google maps

**Additional context**
nop

[2022-10-08 07:01] Kedap commented on #238
Can you assign me this task? plz

[2022-10-08 07:17] Avi-2003 commented on #136
Hi! I would like to work on this issue, could you assign me?

[2022-10-08 08:25] kartikmandhan opened #239 "Console errors on scroll for donate and SOS page"
![Screenshot 2022-10-08 at 1 52 08 PM](https://user-images.githubusercontent.com/56060122/194697870-e961f56f-0fdf-41cb-8539-0a02536ab6c6.png)
Such errors are produced on scroll for donate and SOS page, due to reason that there is no element of id 'header' on those page.
Solutions:
1. Either make header sticky as homepage on both pages
2. Keep the headers the same way and just exclude the function

[2022-10-08 08:25] kartikmandhan commented on #239
Can you assign this to me @akshitagupta15june

[2022-10-08 10:50] sumitkr2000 commented on #229
@akshitagupta15june  Hoping to get a response!

[2022-10-08 14:07] Brandon-T84 opened #241 "README updates"
Add a preview of the website to the README and when clicked goes to the website. This allows new developers and users to easily find your website and understand the functionality of it better.  Also adding social media buttons in the README will allow people to further understand the functionality.  Let me know if I can do this.

[2022-10-08 14:10] akshitagupta15june commented on #241
go for it

[2022-10-08 14:11] akshitagupta15june commented on #238
go for it

[2022-10-08 15:04] #136 closed

[2022-10-08 15:04] #241 closed

[2022-10-08 15:07] Anuran12 commented on #156
I am going to stat this work @akshitagupta15june

[2022-10-08 15:12] kasib12 commented on #223
**BUG**
The navbar is not linked back to the "Home" page when on other pages.

**Resolving The Bug**
This unexpected behavior is arising may be due to the href attribute.

**I would be happy to help fix this bug. Please assign it to me**

[2022-10-08 15:15] annabaginski commented on #223
This bug has been resolved

[2022-10-08 15:15] #223 closed

[2022-10-08 17:39] KAMYAVERMA opened #247 "Want to add volunteer form in volunteer.html"
**Is your feature request related to a problem? Please describe.**
Yes, there is nothing when we click on "become a volunteer".

**Describe the solution you'd like**
I want when we click on "become a volunteer" button, a form will display which will take the info of volunteer

**Describe alternatives you've considered**
Nothing is there in volunteer page. Want to add a form for the same.

**Additi

[2022-10-08 18:45] MohitNamdev22 opened #248 "The font color of CONTACT in contact page is not visible"
**Is your feature request related to a problem? Please describe.**
On the contact page, the color of the heading & subheading is dark and the background is also dark, and that's why the text isn't properly visible.

**Describe the solution you'd like**
To change the text color to white and match it with the color of other elements color.

**Additional context**
![image](https://user-images.githubu

[2022-10-08 19:50] Potato-29 commented on #227
can you assign this to me?

[2022-10-08 19:54] Potato-29 commented on #156
I can make the footer, get in touch component and make the whole page responsive

[2022-10-09 09:15] mohdhaider07 opened #251 "Navbar home page not linked with a tag"
**Describe the bug**
in navbar not working properly

**Expected behavior**
on click home it should redirect to home page

**Screenshots**
If applicable, add screenshots to help explain your problem.

I want to work on it can you assign this to me

[2022-10-09 09:16] #251 closed

[2022-10-09 09:24] TheNobody-12 commented on #247
please add hactoberfest to it @akshitagupta15june

[2022-10-09 09:25] TheNobody-12 commented on #247
I want to contribute towards this issue

[2022-10-09 11:19] Omkar0803 commented on #60
Can I contribute to this?

[2022-10-09 11:30] akshitagupta15june commented on #60
Yes anyone can contribute

[2022-10-09 15:18] KAMYAVERMA commented on #247
Kindly, assign it to me.
HAPPY HACKING

[2022-10-10 03:56] akshitagupta15june opened #256 "Star this repo⭐"

[2022-10-10 05:46] #229 closed

[2022-10-10 06:47] #248 closed

[2022-10-10 06:49] akshitagupta15june commented on #247
It is not required
Thanks

[2022-10-10 06:49] #247 closed

[2022-10-10 06:49] #239 closed

[2022-10-10 06:50] akshitagupta15june commented on #16
are u still working on this issue or I should assign a new person to this issue?

[2022-10-10 06:50] akshitagupta15june commented on #17
are u still working on this issue or I should assign a new person to this issue?

[2022-10-10 06:50] akshitagupta15june commented on #23
are u still working on this issue or I should assign a new person to this issue?

[2022-10-10 06:51] akshitagupta15june commented on #83
are u still working on this issue or I should assign a new person to this issue?

[2022-10-10 06:51] akshitagupta15june commented on #133
are u still working on this issue or I should assign a new person to this issue?

[2022-10-10 06:51] akshitagupta15june commented on #143
are u still working on this issue or I should assign a new person to this issue?

[2022-10-10 06:51] #225 closed

[2022-10-10 06:51] #227 closed

[2022-10-10 06:52] #237 closed

[2022-10-10 07:05] semi-infiknight commented on #17
yes i m working

[2022-10-10 07:51] #23 closed

[2022-10-10 07:52] akshitagupta15june opened #257 "Add a chatbot to the website"
chatbot should answer some questions like if they want to donate then they should be redirected to the donate animal sections, if they want to report then to sos section
if they want to contact the team then the response should to take their gmail and one of the person from team will contact them shortly

Currently a basic chatbot is needed
further improvements can be made

[2022-10-10 07:59] si88har1h commented on #143
I am sorry i forgot to mention that i resolved this in my PR. Its already delt with

[2022-10-10 08:01] akshitagupta15june commented on #143
ok, thanks

[2022-10-10 08:01] #143 closed

[2022-10-10 09:10] Omkar0803 commented on #16
Hey @akshitagupta15june, since it is making so much of a delay, can you assign me this issue?

[2022-10-10 09:11] Omkar0803 commented on #55
If nobody is working on this issue, please assign it to me.

[2022-10-10 11:19] gopukr opened #258 "Coming Soon Page for blog.html"
**Is your feature request related to a problem? Please describe.**
Clicking on Blogs from the navbar leads to a blank page which feels like the site is broken.

**Describe the solution you'd like**
Temporarily using a 'Coming Soon' page will give positive feedback to the users navigating to blogs.html

**Additional context**
Additionally, we could place 'subscribe to our newsletter' content on the

[2022-10-10 11:52] Anuran12 commented on #258
@gopukr  I am currently working on this  #156

[2022-10-10 13:20] CodeWAdi commented on #257
i would like to work on  this task

[2022-10-10 13:41] CodeWAdi commented on #257
can I use flask  for  backend of this chatbot

[2022-10-10 14:10] #258 closed

[2022-10-10 14:11] sudhay23 commented on #133
Hello @akshitagupta15june . I am held up with something for a couple of days but I started working on this.

[2022-10-10 14:57] akshitagupta15june commented on #60
We are waiting blogs from all contributors and currently @Anuran12 is adding all blogs received from all wonderful contributors to the main website PetMe........ Stay Tuned!

Thankyou everyone for the blogs and we are waiting for some more.

[2022-10-10 15:42] felipeands opened #259 "OSX users create .DS_Store files automatically"
Contributors using Mac OSX include .DS_Store files to the project.

The solution is add .DS_Store to .gitignore file.

[2022-10-10 16:19] TannisthaBiswas commented on #60
Hi, I would like to write a blog too.

[2022-10-10 16:19] akshitagupta15june commented on #60
go for it @TannisthaBiswas

[2022-10-10 18:45] DugarRishab commented on #41
Hii @muditchoudhary, i have a question.

Every time someone donates a animal, will it be considered a pet? I mean will it be considered in a similar way to the other pets?

[2022-10-11 03:10] KaxitPandya commented on #156
I will make it exactly, Please assign it to me

[2022-10-11 03:12] KaxitPandya commented on #16
I know API's & AJAJ, I can make it. Please assign it to me

[2022-10-11 14:56] #156 closed

[2022-10-11 14:58] aayushhehe commented on #256
can you assign me this with hacktoberfest tags

[2022-10-11 17:50] DugarRishab commented on #41
okay, leave it. I understand wat I need to do.

[2022-10-11 18:21] AKG1301 commented on #60
Abhinav K Gupta
Github: https://github.com/AKG1301
Hi, I would like to write a blog too.
Pdf Link: https://drive.google.com/file/d/1f2V9i2Pj56WZ_NOSjTyNITto3mmw4DtS/view?usp=sharing
[Blog on Dogs by abhinav K gupta.pdf](https://github.com/akshitagupta15june/PetMe/files/9758779/Blog.on.Dogs.by.abhinav.K.gupta.pdf)

[2022-10-11 18:25] akshitagupta15june commented on #60
Thankyou for your blog

[2022-10-12 20:18] TannisthaBiswas commented on #60
https://docs.google.com/document/d/1LaDh1gSalIrFSt_wnN5YSICgaPku2-Xjsuc6W3rNn0Q/edit?usp=sharing Link for the blog. I've also mailed it to you. Do I add my name to contributors.md and send a PR now?

[2022-10-12 23:52] nalowageena opened #266 "About us button not working on blog page"
**Describe the bug**
On the [blog page](https://akshitagupta15june.github.io/PetMe/blog.html), the **About us** link does not redirect to the about us section of the homepage

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '[blog page](https://akshitagupta15june.github.io/PetMe/blog.html)'
2. Click on **About us** on nav bar.
4. Behaviour: No effect

**Expected behavior**
A redirect to

[2022-10-13 01:42] akshitagupta15june commented on #60
Thanks for your blog

[2022-10-13 01:51] #259 closed

[2022-10-13 01:51] akshitagupta15june commented on #266
Go for it

[2022-10-13 13:18] Anuran12 commented on #60
Hii everyone !!! The blog pages are published on the website...

Here is the link https://akshitagupta15june.github.io/PetMe/blog.html

Check your blogs and there can be some human errors.. feel free to create an issue if you find any error..

[2022-10-13 16:22] AKG1301 commented on #60
please see this pr also.
https://github.com/akshitagupta15june/PetMe/issues/60#issuecomment-1275099388

[2022-10-13 16:29] akshitagupta15june commented on #60
Yes on process
All blogs will be added

[2022-10-13 20:09] nalowageena commented on #266
Thanks for merging. I was really nervous when I opened this issue.
I will close it now.

[2022-10-13 20:09] #266 closed

[2022-10-14 16:11] disha100 commented on #256
is this issue countable under hacktoberfest issues?

[2022-10-14 16:24] sirdikshit commented on #257
Should it be integrated on the website homepage?

[2022-10-14 17:23] Nikita0509 commented on #60
@akshitagupta15june I would like to write a blog on my pet

[2022-10-14 22:29] azulverdosa commented on #60
Hi there,

I've just emailed you my blog post, will be adding my handle in contributors.md and sending you a PR next.

Thanks!

[2022-10-15 13:13] TannisthaBiswas opened #270 "Add a back to top button"
Add a back to top button above the sos button in the home page to increase utility. Please assign this to me under hacktoberfest if you approve and I'll create a PR.

[2022-10-15 16:51] LittleMissButtons commented on #60
Hi @akshitagupta15june I have just messaged you my blog post. It's about our rescue rooster so hopefully add a bit more variety.
Cheers!

[2022-10-16 06:21] Anuran12 commented on #141
@akshaaatt  Can I add a navbar and a footer on the react branch

[2022-10-16 06:27] akshaaatt commented on #141
@Anuran12 I did add a TopBar to the branch but it would be great if you could use Material UI components to make it and convert. Please add the footer. Thanks!

[2022-10-16 06:36] Anuran12 commented on #141
@akshaaatt  Okay..

By the way. I have a Proposal. we are making the react branch from scratch. So would not it be better if we change the UI. Like first make a good UI on figma and then start to make the website according to the UI.

[2022-10-16 07:17] akshitagupta15june commented on #60
@Nikita0509 go for it!
Thanks @LittleMissButtons and @azulverdosa
We will surely add your blogs.

Thanks for contributing 💜

[2022-10-16 07:18] akshitagupta15june commented on #60
Thankyou so much @Anuran12 for the contributions you made in this project 💜

[2022-10-16 07:20] akshitagupta15june commented on #60
Deadline to submit blogs is 30 October 2022
@Susmita-Dey is gonna review all blogs.
P.S all blogs will be published in the website 💥

[2022-10-16 07:27] akshitagupta15june commented on #60
I would request all the blogs contributors to go to the website and looks at blogs.html page if you find any issues in your own blogs so you can create issue regarding your own blogs and can create a pull request for the same.
If you want to add some pictures, feel free to add ,but in your own blogs please 💜

@danschenker @LittleMissButtons @EslemOuederni @Anuran12 @omk-coder @TannisthaBiswas

[2022-10-16 07:50] omk-coder commented on #60
sure.
I just  gone through the blog site  its looks attractive.
Their are some minor issue I like to tell.
1. toggle theme logo is not present.
2. 2 kafka's blog are their with same content.
3.  its not something I would pointout but inbox spelling is wrong at the end.
That's it no other issue are their its looks great.

[2022-10-16 12:42] Deepanshu1008 commented on #270
Can you assign me this task?

[2022-10-16 12:54] Santanujana2001 opened #273 "Added Style to adopt me"
**Describe the solution you'd like**

In this home page css style should be applied on adopt me text.

[2022-10-16 15:09] pagsum commented on #60
how can i contribute to this blog writing for hacktoberfest22?

[2022-10-16 15:17] akshitagupta15june commented on #60
Everything is mentioned above @pagsum

[2022-10-17 03:34] pagsum commented on #60
hey there i have added pagsum.html in blog folder.  please put my blog in blog.html webpage

[2022-10-17 07:38] akanshaaa19 commented on #273
Please assign to me with hacktoberfest tag

[2022-10-17 11:16] muditchoudhary commented on #141
yaa that's a good idea. Do you know Figma? and If yes, could you design the UI?

[2022-10-17 12:18] Anuran12 commented on #141
I am learning. That's why i told you. And i would like to make a ui for this , it will give me a good practice. 😁✌️

[2022-10-18 02:36] muditchoudhary commented on #141
yaa go ahead. Awesome opportunity to learn it.

[2022-10-19 07:09] nalowageena opened #278 "Text of the contact us form cannot be seen in light mode"
**Describe the bug**
If you change to light mode on the pet me website, the text and labels of the contact us form cannot be seen as they have the same color as the background.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the pet me website
2. Click on the 'Contact us' button
3. Toggle light mode
4. Observe that no text or label can be seen on the form

**Screenshot**
![image](https

[2022-10-21 11:51] elijahlc commented on #278
Hi there! I believe I have addressed this issue with my recent pull request ( #280 ).

[2022-10-23 19:34] RohitPatel1122 commented on #55
Hello ! can you please help to understand what are we trying to achieve here, since it's not much clear from the title.

[2022-10-24 15:53] TiffanyClark commented on #34
Can I add to this? I will also like to add to the petMe Blog

[2022-10-25 10:23] LittleMissButtons commented on #60
Hiya, was there anything else I needed to do other than emailing you my blog to link it to the Hacktoberfest?

[2022-10-25 12:16] elijahlc commented on #278
I think this can be closed?

[2022-10-26 03:11] #41 closed

[2022-10-26 03:22] DugarRishab commented on #134
Hi, can I contribute to this too?

[2022-10-26 03:26] akshitagupta15june commented on #134
@mritul are u still working on this?

[2022-10-26 09:38] nalowageena commented on #278
Yeah I'll close it now

[2022-10-26 09:38] #278 closed

[2022-10-28 00:19] marjorinec opened #285 "The Hero image on the home has a weird styling"
**Describe the bug**
The Hero image on the home is a little too elevated and generated a white space under it

**To Reproduce**
Steps to reproduce the behavior:
1. Go to PetMe's home page
2. Look at the dogs picture

**Expected behavior**
It was supposed to look like the picture on the readme
![68747470733a2f2f63646e2e646973636f72646170702e636f6d2f6174746163686d656e74732f31303034343634383834373733

[2022-10-28 00:19] marjorinec commented on #285
Can I get assigned and fix it?

[2022-10-28 22:26] JhoanAlvear commented on #285
i can help, assigne to me this issue

[2022-10-29 06:19] irmeenhusain opened #286 "Changing the background"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
The background doesn't go with the theme.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Changing the background.

**Describe alternatives you've considered**
A clear and concise descriptio

[2022-11-01 12:43] dankokonate commented on #286
assign me please

[2022-11-01 12:45] dankokonate commented on #285
I can help, assign to me please

[2022-11-04 12:17] AKG1301 commented on #60
Hello, when i click on my Profile it will give 404 error. please link my profile correctly :).
Link of Blog :https://akshitagupta15june.github.io/PetMe/blogs/abhinav.html
when i click on my profile it will give error . My github profile is: https://github.com/AKG1301

[2022-11-04 12:25] akshitagupta15june commented on #60
@Anuran12

[2022-11-05 04:27] Anuran12 commented on #60
@AKG1301  solved.. please check

[2022-11-05 04:29] AKG1301 commented on #60
@Anuran12 @akshitagupta15june done.
Thank you 😊

[2022-11-18 14:57] omk-coder commented on #286
what kind of background do we needed did some work on this issue.
<img width="500" alt="image" src="https://user-images.githubusercontent.com/93393539/202733675-5a6b11f5-b3e8-44b5-ba4e-e0983d1f7b7a.png">
using this image as a background
<img width="500" alt="image" src="https://user-images.githubusercontent.com/93393539/202733821-d19bf244-45ab-438e-9ddb-0b1dd448bf4c.png">

[2022-11-18 15:29] omk-coder commented on #286
@irmeenhusain

[2022-11-20 14:56] omk-coder commented on #286
can anyone pls look into this..